@charset "utf-8";

#wrap {display:flex;min-height:100vh;flex-direction:column;}

/*상단배너*/
.top_bn_w {position: relative;background-color:#fdf168;padding:1rem 1.5rem 1rem 1rem;z-index:95;}

.top_bn_w ul {display: inline-block;}
.top_bn_w li {padding:0.3rem 0;}
.top_bn_w li a {font-size: 0;display: block;}
.top_bn_w li.new a:before {position:relative;bottom:0;margin-right:5px;display:inline-block;vertical-align:middle;content:"";width:1.5rem;height:1.5rem;background:url("../images/icon/m_main_new.png") no-repeat 0 0;background-size: 100%;}
.top_bn_w li p {padding: 0.3rem 0 0.1rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: inline-block;vertical-align: middle;font-size: 1.1rem;width: 92%;width: calc( 100% - 25px );}
.top_bn_w .inner img {max-width: 100%;display:block;margin:0 auto;}
.top_bn_w .inner .top_bn_close {position:absolute;top:1.7rem;right:0.8rem;width:1.2rem;height:1.2rem;font: 0/0 a;background:url("../images/icon/m_main_top_close.png") no-repeat 0 0;background-size: 100%;}


/*header*/
#header {position:relative;top:0;left:0;width:100%;height:45px;background-color:#4c6df7;z-index:90;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;   -webkit-transform: translateY(0);transform: translateY(0);}
#header.on {-webkit-transform: translateY(-45px);transform: translateY(-45px);}
#header.fixed {position:fixed;}
#header .inner {height:100%;position: relative;}


.panel_btn {position: absolute;width: 25px;height: 19px;top: 50%;margin-top:-9px;right: 1rem;background-color:#4c6df7;}
.panel_btn span{position: absolute;right: 0;height: 3px;background-color: #fff;
transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;width: 100%;border-radius: 2px;
}
.panel_btn span.barTop{top: 0;}
.panel_btn span.barMid{top: 8px;}
.panel_btn span.barBot{bottom: 0;}
.panel_btn.on .barTop{width: 100%;transform:rotate(45deg);-webkit-transform:rotate(45deg);top:8px;}
.panel_btn.on .barBot{width: 100%;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);top:8px;}
.panel_btn.on .barMid {width: 0;}

/*패널*/
.panel_W {position:fixed;top:0;right:0;width:100%;height:100%;z-index:80;-webkit-transform: translateX(100%);
transform: translateX(100%);-webkit-transition: all .4s ease;transition: all .4s ease;}
.panel_W.on {-webkit-transform: translateX(0);transform: translateX(0);}
.panel_W .panel_in {-webkit-box-shadow: -1rem 0 3rem rgba(0,0,0,.6);box-shadow: -1rem 0 3rem rgba(0,0,0,.6);box-sizing: border-box;
overflow: hidden;position: absolute;top: 0;right: 0;width: 26.3rem;height: 100%;background-color: #fff;}
.panel_W .panel_list {overflow-x: hidden;overflow-y: auto;height:100%;}

/*container*/
#container {}



/*slick*/
.slick-slider {position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list {position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus {outline: none;}
.slick-list.dragging {cursor: pointer;cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track {position: relative;top: 0;left: 0;display: block;margin-left: auto;margin-right: auto;}
.slick-track:before,
.slick-track:after {display: table;content: '';}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}
.slick-slide {display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide {float: right;}
.slick-slide img {display: block;}
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: block;}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide {display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

.banner_nav {position:absolute;left:0;bottom:7px;width:100%;font-size:0;line-height:0;text-align:center;z-index:2;}
.banner_nav li {display:inline-block;margin:0 2px;vertical-align:bottom}
.banner_nav li:first-child {margin-left:0}
.banner_nav li button {display:block;overflow:hidden;width:10px;height:3px;background:#cac9c9;font-size:0;line-height:0}
.banner_nav .slick-active button {background:#e53433}


/*레이어*/
body.fixed {overflow: hidden; position: fixed;}
.pop_layer {position: fixed;display:none;z-index: 110;width:80%;left:0;max-width: 350px;}
.pop_layer .pop_inner {overflow: hidden;border-radius: 10px;background-color:#fff;margin:15px;position: relative;}
.pop_layer .pop_cont {padding:1.7rem 1.55rem;position: relative;box-sizing:border-box;}
.pop_layer .layer_close_bt {position: absolute;top: 1.5rem;right: 1.5rem;width: 1.5rem;height: 1.5rem;font: 0/0 a;background: url("../images/icon/pc_sub_close_btn.png") no-repeat 0 0;background-size:100%;}

.pop_layer .pop_cont strong {font-size: 1.7rem;color: #4c6df7;display: block;width: 60%;line-height: 1.5;}
.pop_layer .pop_cont p {color:#888;width: 60%;line-height: 1.6;margin-top:1.05rem;font-size: 1.05rem;}
.pop_layer .pop_cont p a {text-decoration: underline;display: inline-block;}
.pop_layer .pop_cont .btn_wrap {font-size: 0;text-align: center;margin-top: 1.7rem;}
.pop_layer .pop_cont .btn_wrap a {display: inline-block;font-size: 1.1rem;height:3.3rem;line-height: 3.4rem;width: 60%;border-radius: 5px;background-color: #4c6df7;color:#fff;transition:.3s all ease;}
.pop_layer .pop_cont .btn_wrap .full {width:100%;}

.layer_dimmed {position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: #000;font: 0/0 a;opacity: 0.7;z-index: 100;display:none;}

/*등록 리스트*/
.regi_list_wrap .regi_list img {width:100%;}
.regi_list_wrap .regi_in .tops {position: relative;overflow: hidden;border-radius:1.8rem;box-shadow: 1px 10px 25px -5px grey;}
.regi_list_wrap .regi_in .sum_w {position: relative;}
.regi_list_wrap .regi_in .sum_w .img {}
.regi_list_wrap .regi_in .hover {position:absolute;top:0;left:0;width:100%;height:100%;display:none;}
.regi_list_wrap .regi_in .hover .btns {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;display: -webkit-flex;display:flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;flex-flow: column;}
.regi_list_wrap .regi_in .hover .btns a {display:inline-block;color:#fff;border:1px solid #fff;border-radius:5px;width:10rem;height:3rem;text-align:center;line-height:3.1rem;font-size:1.05rem;}
.regi_list_wrap .regi_in .hover .btns a:hover {background-color:#fff;color:#4C6DF7;}
.regi_list_wrap .regi_in .hover .btns a + a {margin-top:0.5rem;}
.regi_list_wrap .regi_in .hover .dim {position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.7;}
.regi_list_wrap .regi_list > ul > li {width:22rem;margin:1.5rem auto 0;}
#container .sub_wrap li.none {margin-top:6rem;text-align:center;float:none;width:100%;border:0 !important;}
#container .sub_wrap li.none .list_in {display:inline-block;}
#container .sub_wrap li.none .list_in:before {display:inline-block;content:'';width:8rem;height:8rem;background:url("../images/icon/m_sub_event_none.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
#container .sub_wrap li.none p {color: #888;font-size: 1.15rem;margin-top: 1rem;}
#container .sub_wrap .more_bt {width:100%;margin:2rem 0 0;border:0 !important;}
#container .sub_wrap .more_bt .list_in a {display: block;width: 5rem;height: 5rem;background: url("../images/icon/m_sub_more_bt.png") no-repeat 0 0;background-size: 100%;font: 0/0 a;margin:0 auto;}

.regi_list_wrap .regi_in .infos_w {margin-top:1.5rem;} 
.regi_list_wrap .regi_in .infos_w .flag_w {display:-webkit-flex;display:flex;margin-bottom:0.7rem;} 
.regi_list_wrap .regi_in .infos_w .flag_w .left {display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;} 
.regi_list_wrap .regi_in .infos_w .flag_w .left > div + div {margin-left:0.5rem;}
.regi_list_wrap .regi_in .infos_w .flag_w .right {margin-left: auto;display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;} 
.regi_list_wrap .regi_in .infos_w .flag_w .right > div + div {margin-left:0.5rem;}
.regi_list_wrap .regi_in .infos_w .payment {font-size:1.05rem;line-height:1.6rem;display:inline-block;vertical-align:middle;}
.regi_list_wrap .regi_in .infos_w .payment:before {position:relative;bottom:0.15rem;margin-right:0.5rem;display:inline-block;vertical-align:middle;content:"";width:1.5rem;height:1.5rem;background-repeat: no-repeat;background-position:0 0;background-size: 100%;}
.regi_list_wrap .regi_in .infos_w .payment.free {color: #4c6df7;}
.regi_list_wrap .regi_in .infos_w .payment.pay {color: #ff7979;}
.regi_list_wrap .regi_in .infos_w .payment.free:before {background-image: url("../images/icon/m_main_cols1_ic01.png");}
.regi_list_wrap .regi_in .infos_w .payment.pay:before {background-image: url("../images/icon/m_main_cols1_ic02.png");}
.regi_list_wrap .regi_in .infos_w .star {display:inline-block;vertical-align:middle;width:1.5rem;height:1.5rem;background:url("../images/icon/m_sub_star.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
.regi_list_wrap .regi_in .infos_w > strong {font-size: 1.3rem;display:block;font-weight:normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 1px 0;margin-bottom:0.7rem;} 
.regi_list_wrap .regi_in .infos_w > span {font-size: 1.05rem;display:block;margin-bottom:0.5rem;letter-spacing: 0;} 
.regi_list_wrap .regi_in .infos_w > span:before {position: relative;bottom: 0.2rem;margin-right: 0.5rem;display: inline-block;vertical-align: middle;content: "";width: 1.2rem;height: 1.4rem;background: url("../images/icon/m_main_cols1_ic03.png") no-repeat center center;background-size: 99%;}
.regi_list_wrap .regi_in .infos_w > em {font-size: 1.05rem;display:block;letter-spacing: 0;} 
.regi_list_wrap .regi_in .infos_w > em:before {position: relative;bottom: 0.2rem;margin-right: 0.5rem;display: inline-block;vertical-align: middle;content: "";width: 1.2rem;height: 1.4rem;background: url("../images/icon/m_main_cols1_ic04.png") no-repeat center center;background-size: 85%;}


/*footer*/
.footer {position:relative;margin-top:auto;padding:30px 15px;background-color:#222;color:#7a7a7a;z-index:2;}
.footer .logo_wrap {margin-top: 30px;}
.footer .logo_wrap img {display:block;margin:0 auto;width:100px;}

.footer .sns_wrap {font-size:0;text-align:center;margin-top:30px;}
.footer .sns_wrap li {display:inline-block;width:28px;height:28px;margin:0 10px;}
.footer .sns_wrap li a {display:block;width:100%;height:100%;background-repeat: no-repeat;background-position:0 0;background-size:100%;font: 0/0 a;}
.footer .sns_wrap li.twitter a {background-image:url("../images/icon/m_footer_sns_bt01.png");}
.footer .sns_wrap li.instagram a {background-image:url("../images/icon/m_footer_sns_bt02.png");}
.footer .sns_wrap li.facebook a {background-image:url("../images/icon/m_footer_sns_bt03.png");}
.footer .sns_wrap li.blog a {background-image:url("../images/icon/m_footer_sns_bt04.png");}

.footer .family_wrap {width: 200px;height:35px;margin: 15px auto 0;position: relative;border-radius: 15px;}
.footer .family_wrap .family_in {position:absolute;bottom: 0;left:0;width:100%;border-radius: 15px;background-color: #2c2c2c;}
.footer .family_wrap .family_btn {cursor:pointer;padding:0px 20px;height:35px;line-height:36px;box-sizing:border-box;}
.footer .family_wrap ul {display:none;color: #7a7a7a;}
.footer .family_wrap ul li {padding: 15px 20px;}
.footer .family_wrap ul li a {color: #7a7a7a;}

.footer .link_wrap {font-size:0;text-align:center;margin-top:8px;}
.footer .link_wrap ul {display:inline-block;max-width:240px;}
.footer .link_wrap li {display:inline-block;margin:10px 7px 0;}
.footer .link_wrap li a {font-size:13px;color:#7a7a7a}

.footer .copyright_wrap {text-align:center;margin-top:15px;}
.footer .copyright_wrap li {color: #4d4d4d;}
.footer .copyright_wrap li + li {margin-top:7px;}

.footer .btnTop {position:absolute;top: -35px;left:50%;margin-left: -40px;}
.footer .btnTop a {display: block;width: 80px;height: 80px;font: 0/0 a;background: url("../images/icon/footer_bt_top.png") no-repeat 0 0;background-size:100%;}

@media screen and (max-width:1023px) {
    .footer .btnTop {display: block !important;}
}


/*-------------테블릿-------------*/
@media screen and (min-width:768px) {

    /*레이어*/
    .pop_layer {max-width:450px;}

    .pop_layer .pop_cont strong {}
    .pop_layer .pop_cont p {}

    /*등록 리스트*/
    .regi_list_wrap .regi_list > ul > li {width:50%;float:left;margin:1.5rem 0 0;}
    .regi_list_wrap .regi_list > ul > li:nth-child(odd) .regi_in {margin-right:0.5rem;}
    .regi_list_wrap .regi_list > ul > li:nth-child(even) .regi_in {margin-left:0.5rem;}

}

/*-------------데스크탑-------------*/
@media screen and (min-width:1024px) {
    body {min-width: 1200px;}

    .inner {width:100%;max-width:1200px;margin:0 auto;position: relative;}



    /*등록 리스트*/
    .regi_list_wrap .regi_in .tops {position: relative;overflow: hidden;border-radius:18px;box-shadow: 1px 10px 25px -5px grey;cursor: pointer;}
    .regi_list_wrap .regi_in .sum_w {position: relative;}
    .regi_list_wrap .regi_in .sum_w img {width:auto;}
    .regi_list_wrap .regi_in .hover {position:absolute;top:0;left:0;width:100%;height:100%;display:none;}
    .regi_list_wrap .regi_in .hover .btns {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;display: -webkit-flex;display:flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;flex-flow: column;}
    .regi_list_wrap .regi_in .hover .btns a {display:inline-block;color:#fff;border:1px solid #fff;border-radius:5px;width:120px;height:40px;text-align:center;line-height:40px;font-size:14px;}
    .regi_list_wrap .regi_in .hover .btns a:hover {background-color:#fff;color:#4C6DF7;}
    .regi_list_wrap .regi_in .hover .btns a + a {margin-top:10px;}
    .regi_list_wrap .regi_in .hover .dim {position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.7;}
    .regi_list_wrap .regi_list > ul > li {width:270px;float:left;margin:0px 55px 60px 0px;}
    .regi_list_wrap .regi_list > ul > li:nth-child(3n) {margin-right: 0;}
    .regi_list_wrap .regi_list > ul > li:nth-child(odd) .regi_in {margin-right:0;}
    .regi_list_wrap .regi_list > ul > li:nth-child(even) .regi_in {margin-left:0;}
    #container .sub_wrap li.none {margin:150px 0;text-align:center;float:none;width:100%;border:0 !important;}
    #container .sub_wrap li.none .list_in {display:inline-block;}
    #container .sub_wrap li.none .list_in:before {display:inline-block;content:'';width:120px;height:120px;background:url("../images/icon/m_sub_event_none.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
    #container .sub_wrap li.none p {color: #888;font-size: 14px;margin-top: 20px;}
    #container .sub_wrap .more_bt {width:100%;margin:20px 0 0;border:0 !important;}
    #container .sub_wrap .more_bt .list_in a {display: block;width: 80px;height: 80px;background: url("../images/icon/m_sub_more_bt.png") no-repeat 0 0;background-size: 100%;font: 0/0 a;margin:0 auto;}

    .regi_list_wrap .regi_in .infos_w {margin-top:20px;} 
    .regi_list_wrap .regi_in .infos_w .flag_w {display:-webkit-flex;display:flex;margin-bottom:13px;} 
    .regi_list_wrap .regi_in .infos_w .flag_w .left {display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;} 
    .regi_list_wrap .regi_in .infos_w .flag_w .left > div + div {margin-left:10px;}
    .regi_list_wrap .regi_in .infos_w .flag_w .right {margin-left: auto;display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;} 
    .regi_list_wrap .regi_in .infos_w .flag_w .right > div + div {margin-left:10px;}
    .regi_list_wrap .regi_in .infos_w .payment {font-size:16px;line-height:21px;display:inline-block;vertical-align:middle;}
    .regi_list_wrap .regi_in .infos_w .payment:before {position:relative;bottom:2px;margin-right:5px;display:inline-block;vertical-align:middle;content:"";width:21px;height:21px;background-repeat: no-repeat;background-position:0 0;background-size: 100%;}
    .regi_list_wrap .regi_in .infos_w .payment.free {color:#ff7979;}
    .regi_list_wrap .regi_in .infos_w .payment.pay {color: #4c6df7;}
    .regi_list_wrap .regi_in .infos_w .payment.free:before {background-image: url("../images/icon/pc_main_cols1_ic02.png");}
    .regi_list_wrap .regi_in .infos_w .payment.pay:before {background-image: url("../images/icon/pc_main_cols1_ic01.png");}
    .regi_list_wrap .regi_in .infos_w .star {display:inline-block;vertical-align:middle;width:21px;height:21px;background:url("../images/icon/pc_sub_star.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
    .regi_list_wrap .regi_in .infos_w > strong {font-size: 18px;display:block;font-weight:normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 1px 0;margin-bottom:13px;} 
    .regi_list_wrap .regi_in .infos_w > span {font-size: 14px;display:block;margin-bottom:10px;letter-spacing: 0;} 
    .regi_list_wrap .regi_in .infos_w > span:before {position: relative;bottom: 2px;margin-right: 10px;display: inline-block;vertical-align: middle;content: "";width: 14px;height: 16px;background: url("../images/icon/pc_main_cols1_ic03.png") no-repeat center center;background-size: 100%;}
    .regi_list_wrap .regi_in .infos_w > em {font-size: 14px;display:block;letter-spacing: 0;} 
    .regi_list_wrap .regi_in .infos_w > em:before {position: relative;bottom: 2px;margin-right: 10px;display: inline-block;vertical-align: middle;content: "";width: 14px;height: 16px;background: url("../images/icon/pc_main_cols1_ic04.png") no-repeat center center;background-size: 12px;}



    /*레이어*/
    .pop_layer {max-width:800px;}
    .pop_layer .pop_cont {padding:100px 80px;}
    .pop_layer .layer_close_bt {top: 30px;right: 30px;width: 32px;height: 32px;}
    .pop_layer .pop_cont .btn_wrap {margin-top:60px;}
    .pop_layer .pop_cont .btn_wrap a {height:70px;line-height: 72px;width: 250px;font-size: 20px;}

    .pop_layer .pop_cont strong {display:block;width: 100%;text-align: center;font-size:37px;line-height:1.3;}
    .pop_layer .pop_cont p {text-align: center;width: 100%;font-size:18px;}
    .pop_layer .pop_cont p a {font-size:18px;}

    /*footer*/
    .footer {padding:90px 80px 80px;}
    .footer .inner {max-width:100%;}
    .footer .logo_wrap {margin-top: 0px;}
    .footer .logo_wrap img {width:auto;display:inline;}
    .footer .sns_wrap {position: absolute;bottom: 40px;right:25px;}
    .footer .sns_wrap li {float: left;margin: 0;}
    .footer .sns_wrap li + li {margin-left: 60px;}
    .footer .sns_wrap li.twitter a {background-image:url("../images/icon/pc_footer_sns_bt01.png");}
    .footer .sns_wrap li.instagram a {background-image:url("../images/icon/pc_footer_sns_bt02.png");}
    .footer .sns_wrap li.facebook a {background-image:url("../images/icon/pc_footer_sns_bt03.png");}
    .footer .sns_wrap li.blog a {background-image:url("../images/icon/pc_footer_sns_bt04.png");}

    .footer .family_wrap {position: absolute;top: -15px;right: 0;width: 360px;height:60px;margin: 0;max-width:100%;}
    .footer .family_wrap .family_in {border-radius: 30px;}
    .footer .family_wrap .family_btn {font-size: 16px;height:60px;line-height:60px;padding:0 40px;}
    .footer .family_wrap ul {bottom: 60px;border-radius: 30px 30px 0 0;}
    .footer .family_wrap ul li {padding: 25px 40px;}
    .footer .family_wrap ul li a {font-size: 16px;}

    .footer .link_wrap {text-align: left;margin-top: 60px;}
    .footer .link_wrap ul {display: block;max-width: 100%;}
    .footer .link_wrap li {display: block; float: left;margin: 0;}
    .footer .link_wrap li + li {margin-left: 30px;}
    .footer .link_wrap li a {font-size: 16px;}

    .footer .copyright_wrap {text-align: left;margin-top: 12px;}
    .footer .copyright_wrap ul {width: 560px;}
    .footer .copyright_wrap li {font-size: 16px;display: block; float: left;margin: 8px 0 0;}
    .footer .copyright_wrap li:first-child {margin-right: 35px;}
    .footer .copyright_wrap li + li {margin-top: 8px;}

    .footer .btnTop {position: fixed;top: auto;left: auto;bottom: 230px;right: 30px;margin-left: 0;display:none;}
    .footer .btnTop a {display: block;width: 160px;height: 160px;font: 0/0 a;}

}