@charset "utf-8";
body {background-color: #4C6DF7;}
img {width:100%;}
#wrap {display:flex;min-height:100vh;flex-direction:column;background-color: #fff;}

/*상단배너*/
.top_bn_w {position: relative;background-color:#fdf168;z-index:95;}
.top_bn_w .inner {padding:1rem 3rem 1rem 3rem;box-sizing: border-box;}

.top_bn_w ul {position: relative;}
.top_bn_w ul:before {position: absolute;top:0.3rem;left:-2rem;display:inline-block;vertical-align:middle;content:"";width:1.5rem;height:1.5rem;background:url("../images/icon/m_main_new.png") no-repeat 0 0;background-size: contain;}
.top_bn_w li {padding:0.2rem 0;}
.top_bn_w li a {font-size: 0;display: block;text-align: left;}
.top_bn_w li p {padding: 0.3rem 0 0.2rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: inline-block;vertical-align: middle;font-size: 1.1rem;max-width: 100%;box-sizing: border-box;text-align: left;}
.top_bn_w li.new p {position: relative;padding-left:2rem;}
.top_bn_w li.new p:before {position: absolute;top:0;left:0;display:inline-block;vertical-align:middle;content:"";width:1.5rem;height:1.5rem;background:url("../images/icon/m_main_new.png") no-repeat 0 0;background-size: 100%;}
.top_bn_w .inner img {max-width: 100%;display:block;margin:0 auto;}
.top_bn_w .inner .top_bn_close {position:absolute;top:1.5rem;right:1rem;width:1.2rem;height:1.2rem;font: 0/0 a;background:url("../images/icon/m_main_top_close.png") no-repeat 0 0;background-size: 100%;}


/*header*/
#header {position: relative;width:100%;background-color:#4c6df7;z-index:90;}
#header.on .inner {-webkit-transform: translateY(-45px);transform: translateY(-45px);}
#header.fixed .inner {position:fixed;}
#header .inner {display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;position:relative;top:0;left:0;width:100%;height:45px;background-color:#4c6df7;-webkit-transition: all .3s ease-in-out;transition: all .3s ease-in-out;   -webkit-transform: translateY(0);transform: translateY(0);}
#header .logo_wrap {width: 70px;margin-right: auto;margin-left:1rem;}

#header .gnb_wrap {margin-left: auto;margin-right:1rem;font-size: 0;}
#header .gnb_wrap > div + div {margin-left:1.5rem;}

.gnb_wrap .log_wrap {display: inline-block;vertical-align: middle;font-size: 0;display:none;}
.gnb_wrap .log_wrap .link {display: inline-block;vertical-align: middle;}
.gnb_wrap .log_wrap .link li {display: inline-block;vertical-align: middle;}
.gnb_wrap .log_wrap .link li + li{margin-left:1rem;}
.gnb_wrap .log_wrap .link li a {color:#fff;font-size:1.05rem;}
.gnb_wrap .log_wrap .mypage_bt_w {position:relative;display: inline-block;vertical-align: middle;margin-left:1.5rem;cursor: pointer;}
.gnb_wrap .log_wrap .mypage_bt_in {position:relative;display: inline-block;vertical-align: middle;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt {display:block;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt .icon_wrap {position:relative;display: inline-block;vertical-align: middle;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt .icon_wrap .img {width:30px;height:30px;overflow: hidden;border-radius: 100%;display: -webkit-flex;display:flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt .icon_wrap .img img {width: 100%;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt .icon_wrap .icon {width:25px;height:25px;background:url("../images/icon/m_header_icon02.png") no-repeat center center;background-size:contain;font: 0/0 a;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt .icon_wrap b {font-size:10px;position:absolute;top:-5px;right:-5px;width:15px;height:15px;line-height:17px;border-radius:100%;background-color:#FF6280;text-align:center;color:#fff;font-weight:normal;text-indent: 0;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list {position: absolute;top:45px;left:50%;margin-left: -5.5rem;padding:1.5rem;border:1px solid #E8E8E8;background-color:#fff;border-radius:0.5rem;width: 8rem;display:none;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list:before {display:block;content:'';position: absolute;top:-0.65rem;right:5rem;width: 1rem;height:1rem;background:url("../images/icon/m_sub_share_arr.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list strong {font-size:1.2rem;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list ul {margin-top:1rem;padding-top:1rem;border-top:1px solid #e8e8e8;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list li + li {margin-top:1rem;}
.gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list li a {font-size:1.05rem;}
.gnb_wrap .log_wrap .users {color:#fff;font-size:1.05rem;display: inline-block;vertical-align: middle;margin-left:0.5rem;}

.gnb_wrap .search_bt_w {display: inline-block;vertical-align: middle;}
.gnb_wrap .search_bt_w button {width:20px;height:20px;background:url("../images/icon/m_header_icon01.png") no-repeat 0 0;background-size:contain;font: 0/0 a;}

.gnb_wrap .ticket_w {display: inline-block;vertical-align: middle;}
.gnb_wrap .ticket_w a {display: block;background-color:#fff;height:25px;line-height:27px;padding:0 10px;border-radius:30px;}
.gnb_wrap .ticket_w a:before {position: relative;bottom: 1px;margin-right:5px;display: inline-block;vertical-align: middle;content: "";width: 16px;height: 16px;background: url("../images/icon/m_main_ticket.png") no-repeat center center;background-size: 100%;}
.gnb_wrap .ticket_w a span {font-size:12px;color:#4c6df7;display: inline-block;vertical-align: middle;}

.gnb_wrap .panel_bt_w {display: inline-block;vertical-align: middle;}
.gnb_wrap .panel_btn {position: relative;width: 25px;height: 19px;background-color:#4c6df7;}
.gnb_wrap .panel_btn span{position: absolute;right: 0;height: 3px;background-color: #fff;
transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;width: 100%;border-radius: 2px;
}
.gnb_wrap .panel_btn span.barTop{top: 0;}
.gnb_wrap .panel_btn span.barMid{top: 8px;}
.gnb_wrap .panel_btn span.barBot{bottom: 0;}
.gnb_wrap .panel_btn.on .barTop{width: 100%;transform:rotate(45deg);-webkit-transform:rotate(45deg);top:8px;}
.gnb_wrap .panel_btn.on .barBot{width: 100%;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);top:8px;}
.gnb_wrap .panel_btn.on .barMid {width: 0;}

.pt_open .gnb_wrap .log_wrap {display: inline-block;}
.pt_open .gnb_wrap .search_bt_w {display:none;}
.pt_open .gnb_wrap .ticket_w {display:none;}


/*패널*/
.panel_w {position:fixed;top:0;right:0;width:26.3rem;height:100%;z-index:80;-webkit-transform: translateX(100%);
transform: translateX(100%);-webkit-transition: all .4s ease;transition: all .4s ease;}
.panel_w.on {-webkit-transform: translateX(0);transform: translateX(0);}
.panel_w .panel_in {box-sizing: border-box;
overflow: hidden;position: absolute;top: 0;right: 0;width: 26.3rem;height: 100%;background-color: #fff;}
.panel_w.on .panel_in {-webkit-box-shadow: 0 11rem 3rem rgba(0,0,0,.6);box-shadow: 0 11rem 3rem rgba(0,0,0,.6);}
.panel_w .panel_list {overflow-x: hidden;overflow-y: auto;height:100%;}
.panel_w .panel_list .site_m {padding:2rem;}
.panel_w .panel_list .site_list > ul > li {display: -webkit-flex;display:flex;-webkit-align-items: baseline;align-items: baseline;}
.panel_w .panel_list .site_list > ul > li + li {margin-top:2rem;padding-top:2rem;border-top:1px solid #e8e8e8;}
.panel_w .panel_list .site_list > ul > li > strong {width:8rem;flex: none;font-size:1.3rem;font-weight:normal;width:100%;}
.panel_w .panel_list .site_list > ul > li > strong a {display:block;}
.panel_w .panel_list .site_list .depth li {font-size:1.1rem;}
.panel_w .panel_list .site_list .depth li + li {margin-top:1.5rem;}
.panel_w .panel_list .site_list .depth li a {display:block;}
.panel_w .panel_list .panel_link {margin-top:3rem;}
.panel_w .panel_list .panel_link a {display: inline-block;font-size: 1.15rem;height:3.5rem;line-height: 3.7rem;width: 100%;background-color:#fff;border: 1px solid #4c6df7;color: #4c6df7;text-align:center;border-radius:0.5rem;box-sizing:border-box;}


/*검색패널*/
.panel_s_w {position:fixed;top:0;right:0;width:26.3rem;height:100%;z-index:110;-webkit-transform: translateX(100%);
transform: translateX(100%);-webkit-transition: all .4s ease;transition: all .4s ease;}
.panel_s_w.on {-webkit-transform: translateX(0);transform: translateX(0);}
.panel_s_w .panel_in {box-sizing: border-box;
overflow: hidden;position: absolute;top: 0;right: 0;width: 26.3rem;height: 100%;background-color: #fff;}
.panel_s_w.on .panel_in {-webkit-box-shadow: 0 11rem 3rem rgba(0,0,0,.6);box-shadow: 0 11rem 3rem rgba(0,0,0,.6);}
.panel_s_w .panel_list {overflow-x: hidden;overflow-y: auto;height:100%;box-sizing:border-box;}
.panel_s_w .panel_list .search_m {padding:2rem;}
.panel_s_w .panel_list .panel_s_close {position: absolute;top:2rem;right:2rem;width:1rem;height:1rem;background:url("../images/icon/mo_panel_close.png") no-repeat center center;background-size:contain;font: 0/0 a;}
.panel_s_w .panel_list .search_input_w {margin-top:2rem;}
.panel_s_w .panel_list .search_input_w input {border-color:#4C6DF7;}
.panel_s_w .panel_list .search_input_w button {width:3rem;height:3rem;right:0;background:url("../images/icon/mo_panel_search.png") no-repeat center center;background-size:50%;}
.panel_s_w .panel_list .search_input_list {margin-top: 2rem;}
.panel_s_w .panel_list .search_input_list li + li{margin-top:1rem;}
.panel_s_w .panel_list .search_input_list li a {display:block;font-size:1.05rem;}

/*검색*/
.search_input_w .search_input {position: relative;}
.search_input_w .search_input input {width:100%;border:0;border-bottom:2px solid #222;height:3rem;font-size:1.2rem;line-height:3.1rem;box-sizing:border-box;padding:0 4rem 0 1rem;box-sizing:border-box;}
.search_input_w .search_input button {position: absolute;top:0;right:1rem;width:2rem;height:2rem;background:url("../images/icon/mo_regi_search.png") no-repeat center center;background-size:contain;font: 0/0 a;}


/*container*/
#container {margin: auto 0;}


/*slick*/
.slick-slider {position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list {position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus {outline: none;}
.slick-list.dragging {cursor: pointer;cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track {position: relative;top: 0;left: 0;display: block;margin-left: auto;margin-right: auto;}
.slick-track:before,
.slick-track:after {display: table;content: '';}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}
.slick-slide {display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide {float: right;}
.slick-slide img {display: block;}
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: block;}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide {display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

.banner_nav {position:absolute;left:0;bottom:7px;width:100%;font-size:0;line-height:0;text-align:center;z-index:2;}
.banner_nav li {display:inline-block;margin:0 2px;vertical-align:bottom}
.banner_nav li:first-child {margin-left:0}
.banner_nav li button {display:block;overflow:hidden;width:10px;height:3px;background:#cac9c9;font-size:0;line-height:0}
.banner_nav .slick-active button {background:#e53433}


/*레이어*/
body.fixed {overflow: hidden; position: fixed;}
.pop_layer {position: fixed;display:none;z-index: 110;width:100%;left:0;max-width: 350px;}
.pop_layer .pop_inner {overflow: hidden;border-radius: 10px;background-color:#fff;margin:15px;position: relative;}
.pop_layer .pop_cont {padding:2.5rem 1.55rem;position: relative;box-sizing:border-box;}
.pop_layer .layer_close_bt {position: absolute;top: 1.5rem;right: 1.5rem;width: 1.5rem;height: 1.5rem;font: 0/0 a;background: url("../images/icon/pc_sub_close_btn.png") no-repeat 0 0;background-size:100%;}

.pop_layer .pop_cont strong {font-size: 1.7rem;display: block;width: 60%;line-height: 1.5;font-weight: normal;}
.pop_layer .pop_cont p {color:#888;width: 100%;line-height: 1.6;margin-top:1.05rem;font-size: 1.05rem;text-align:center;}
.pop_layer .pop_cont p a {text-decoration: underline;display: inline-block;}
.pop_layer .pop_cont .btn_wrap {font-size: 0;text-align: center;margin-top: 1.7rem;}
.pop_layer .pop_cont .btn_wrap a {display: inline-block;font-size: 1.1rem;height:3.5rem;line-height: 3.7rem;width: 60%;border-radius: 5px;background-color: #4c6df7;color:#fff;transition:.3s all ease;}
.pop_layer .pop_cont .btn_wrap .full {width:100%;}

.layer_dimmed {position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: #000;font: 0/0 a;opacity: 0.7;z-index: 100;display:none;}

/*메인리스트*/
.main_list {white-space: nowrap;overflow-x: scroll;overflow-y: hidden;-webkit-overflow-scrolling: touch;padding: 0 1rem;font-size: 0;text-align: center;}
.main_list::-webkit-scrollbar {display: none}
.main_list li {display: inline-block;width: 20rem;vertical-align: top;text-align: left;margin-right:1rem;}
.main_list .list_in .img_wrap {position: relative;}
.main_list .list_in .img_wrap .flag {position: absolute;top:1rem;left:1rem;}
.main_list .list_in .img_wrap .flag .flag_item {display:-webkit-inline-flex;display:inline-flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;width:4.5rem;height:4.5rem;vertical-align: top;border-radius: 100%;font-size: 0.9rem;line-height: 1.2;text-align: center;box-sizing:border-box;padding-top:0.1rem;}
.main_list .list_in .img_wrap .flag .flag_item + .flag_item {margin-left:0.5rem;}
.main_list .list_in .img_wrap .flag .flag_item.red {background-color: #ff7979;color:#fff;}
.main_list .list_in .img_wrap .flag .flag_item.blue {background-color:#4c6df7;color:#fff;}
.main_list .list_in .img_wrap .flag .flag_item.yellow {background-color: #fdf168;color:#222;}
.main_list .list_in .img_wrap .flag .flag_item.black {background-color: #222;color:#fff;}
.main_list .list_in .img_wrap .flag .flag_item.gray {background-color: #e8e8e8;color:#222;}
.main_list .list_in .event_wrap .flag {display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;margin-bottom: 0.7rem;}
.main_list .list_in .event_wrap .flag .flag_item {height:1.8rem;font-size:0.9rem;padding: 0 0.7rem;line-height: 1.9rem;border-radius: 0.3rem;border:1px solid #222;}
.main_list .list_in .event_wrap .flag .flag_item.red {color: #ff7979;border-color: #ff7979;}
.main_list .list_in .event_wrap .flag .flag_item + .flag_item {margin-left:0.5rem;}
.main_list .list_in .flag .payment {font-size:1.05rem;line-height:1.6rem;display:inline-block;vertical-align:middle;margin-left:auto;}
.main_list .list_in .flag .payment:before {position:relative;bottom:0.15rem;margin-right:0.3rem;display:inline-block;vertical-align:middle;content:"";width:1.5rem;height:1.5rem;background-repeat: no-repeat;background-position:0 0;background-size: 100%;}
.main_list .list_in .flag .payment.free {color: #222;}
.main_list .list_in .flag .payment.pay {color: #4c6df7;}
.main_list .list_in .flag .payment.free:before {background-image: url("../images/icon/m_main_cols1_ic02.png");}
.main_list .list_in .flag .payment.pay:before {background-image: url("../images/icon/m_main_cols1_ic01.png");}
.main_list .list_in .flag .star {display:inline-block;vertical-align:middle;width:1.5rem;height:1.5rem;background:url("../images/icon/m_sub_star.png") no-repeat 0 0;background-size:100%;font: 0/0 a;margin-left:auto;}
.main_list .list_in .event_wrap {margin-top: 1.5rem;padding:0 0.5rem;}
.main_list .list_in .event_wrap .tit {font-size: 1.3rem;display:block;font-weight:normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 1px 0;margin-bottom:0.3rem;}
.main_list .list_in .event_wrap > strong {font-size: 1.3rem;display:block;font-weight:normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 1px 0;margin-bottom:0.7rem;}
.main_list .list_in .event_wrap > span {font-size: 1.05rem;display:block;margin-bottom:0.5rem;letter-spacing: 0;} 
.main_list .list_in .event_wrap > span:before {position: relative;bottom: 0.2rem;margin-right: 0.5rem;display: inline-block;vertical-align: middle;content: "";width: 1.2rem;height: 1.4rem;background: url("../images/icon/m_main_cols1_ic03.png") no-repeat center center;background-size: 99%;}
.main_list .list_in .event_wrap > span.regi:before {background-image:url("../images/icon/m_main_cols1_ic05.png");}
.main_list .list_in .event_wrap > em {font-size: 1.05rem;display:block;letter-spacing: 0;} 
.main_list .list_in .event_wrap > em:before {position: relative;bottom: 0.2rem;margin-right: 0.5rem;display: inline-block;vertical-align: middle;content: "";width: 1.2rem;height: 1.4rem;background: url("../images/icon/m_main_cols1_ic04.png") no-repeat center center;background-size: 85%;}
.main_list .list_in .event_wrap i {font-size: 1.05rem;margin-right: 0.5rem;font-style: normal;}
#container .main_list li.more_bt {width: auto;margin: 0;}
#container .main_list li.more_bt .list_in a {display: block;width: 5rem;height: 5rem;background: url("../images/icon/m_sub_more_bt.png") no-repeat 0 0;background-size: 100%;font: 0/0 a;margin-top: 11rem;}

/*검색 리스트*/
.search_list_w {margin-top:1.7rem;}
.search_list_w h4 {font-size:1.7rem;margin-bottom:1rem;}
.search_list_w .search_list {border-top:1px solid #e8e8e8;}
.search_list_w .search_list > li {padding:1.5rem 0;}
.search_list_w .search_list > li + li {border-top:1px solid #e8e8e8;}
.search_list_w .search_list .view {display: -webkit-flex;display:flex;-webkit-align-items: center;align-items: center;}
.search_list_w .search_list .view .img {width:8rem;flex: none;margin-right: 1rem;}
.search_list_w .search_list .view .info_W {flex: 1;}
.search_list_w .search_list .view .info_W > p {color:#888;font-size:1.05rem;line-height:1.5;margin-top:1.5rem;}
.search_list_w .search_list .view .info_W > p a {color:#222;text-decoration:underline;}
.search_list_w .search_list .view h4 {font-size: 1.4rem;margin: 0.5rem 0;line-height: 1.3;word-break: break-all;}
.search_list_w .search_list .view .qr {width:6.5rem;flex: none;margin-left: 1rem;}
.search_list_w .search_list .view .sort {font-size:1.1rem;margin:1rem 0;}
.search_list_w .search_list .view .free {color:#FF6280;}
.search_list_w .search_list .view .pay {color:#4C6DF7;}
.search_list_w .search_list .view .infos {margin-bottom:0.5rem;letter-spacing: 0;text-align:left;}
.search_list_w .search_list .view .infos li {font-size:0.9rem;letter-spacing: -1px;}
.search_list_w .search_list .view .infos li i {font-style: normal;margin-right:0.2rem;}
.search_list_w .search_list .view .infos li + li {margin-top:0.5rem;}
.search_list_w .search_list .view .infos li:before {position: relative;bottom: 0.2rem;margin-right: 0.2rem;display: inline-block;vertical-align: middle;content: "";width: 1.2rem;height: 1.4rem;background: url("../images/icon/m_main_cols1_ic05.png") no-repeat center center;background-size: 99%;}
.search_list_w .search_list .view .infos li + li:before {background: url("../images/icon/m_main_cols1_ic03.png") no-repeat center center;background-size: 99%;}
.search_list_w .search_list .view .infos li + li + li:before {background: url("../images/icon/m_main_cols1_ic04.png") no-repeat center center;background-size: 85%;}
.search_list_w .search_list .view .infos li.blue {color: #4C6DF7;}
.search_list_w .search_list .view .infos li.blue:before {display:none;}
.search_list_w .search_list .flag {display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;position:relative;}
.search_list_w .search_list .flag .flag_item {height:1.8rem;font-size:0.9rem;padding: 0 0.7rem;line-height: 1.9rem;border-radius: 0.3rem;border:1px solid #222;}
.search_list_w .search_list .flag .flag_item.red {color: #ff7979;border-color: #ff7979;}
.search_list_w .search_list .flag .flag_item + .flag_item {margin-left:0.5rem;}
.search_list_w .search_list .flag .payment {font-size:1.05rem;line-height:1.6rem;display:inline-block;vertical-align:middle;}
.search_list_w .search_list .flag .payment:before {position:relative;bottom:0.15rem;margin-right:0.3rem;display:inline-block;vertical-align:middle;content:"";width:1.5rem;height:1.5rem;background-repeat: no-repeat;background-position:0 0;background-size: contain;}
.search_list_w .search_list .flag .payment.free {color: #222;}
.search_list_w .search_list .flag .payment.pay {color: #4c6df7;}
.search_list_w .search_list .flag .payment.free:before {background-image: url("../images/icon/m_main_cols1_ic02.png");}
.search_list_w .search_list .flag .payment.pay:before {background-image: url("../images/icon/m_main_cols1_ic01.png");}
.search_list_w .search_list .dt_bt {width:6rem;height:6rem;background:url("../images/icon/mo_search_dt.png") no-repeat center center;background-size:contain;font: 0/0 a;}
.search_list_w .search_list .dt_bt.join {background-image: url("../images/icon/mo_search_dt2.png");}
.search_list_w .search_list .guide {font-size:0.9rem;color:#FF6280;line-height:1.3;margin-top:0.5rem;}
.search_list_w .search_list .more_bt {padding:0;}

.search_list_w .text_list {border-top:1px solid #e8e8e8;}
.search_list_w .text_list > li {padding:1.5rem 0;border-bottom:1px solid #e8e8e8;}
.search_list_w .text_list > li a {display: -webkit-flex;display:flex;-webkit-align-items: center;align-items: center;}
.search_list_w .text_list > li a .flag_item {height:1.8rem;font-size:0.9rem;padding: 0;line-height: 1.9rem;border-radius: 0.3rem;border:1px solid #222;text-align: center;width:4.5rem;flex: none;margin-right:1rem;}
.search_list_w .text_list > li a p {font-size: 1.2rem;line-height:1.4;}
.search_list_w .text_list > li a:hover p {text-decoration: underline;}
.search_list_w .text_list > li a p span {color: #4C6DF7;text-decoration: underline;}


/*등록 리스트*/
.regi_list_wrap .regi_list img {width:100%;}
.regi_list_wrap .regi_in .tops {position: relative;overflow: hidden;border-radius:1rem;}
.regi_list_wrap .regi_in .sum_w {position: relative;}
.regi_list_wrap .regi_in .sum_w .img {}
.regi_list_wrap .regi_in .sum_w .img .flag {position: absolute;top:1rem;left:1rem;}
.regi_list_wrap .regi_in .sum_w .img .flag_item {display:-webkit-inline-flex;display:inline-flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;width:4.5rem;height:4.5rem;vertical-align: top;border-radius: 100%;font-size: 0.9rem;line-height: 1.2;text-align: center;box-sizing:border-box;padding-top:0.1rem;}
.regi_list_wrap .regi_in .sum_w .img .flag_item + .flag_item {margin-left:0.5rem;}
.regi_list_wrap .regi_in .sum_w .img .flag_item.red {background-color: #ff7979;color:#fff;}
.regi_list_wrap .regi_in .sum_w .img .flag_item.blue {background-color:#4c6df7;color:#fff;}
.regi_list_wrap .regi_in .sum_w .img .flag_item.yellow {background-color: #fdf168;color:#222;}
.regi_list_wrap .regi_in .sum_w .img .flag_item.black {background-color: #222;color:#fff;}
.regi_list_wrap .regi_in .sum_w .img .flag_item.gray {background-color: #e8e8e8;color:#222;}
.regi_list_wrap .regi_in .hover {position:absolute;top:0;left:0;width:100%;height:100%;border-radius:1rem;overflow: hidden;display:none;}
.regi_list_wrap .regi_in .hover .btns {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;display: -webkit-flex;display:flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;flex-flow: column;}
.regi_list_wrap .regi_in .hover .btns a {display:inline-block;color:#fff;border:1px solid #fff;border-radius:5px;width:12rem;height:3.5rem;text-align:center;line-height:3.6rem;font-size:1.1rem;}
.regi_list_wrap .regi_in .hover .btns a:hover {background-color:#fff;color:#222;}
.regi_list_wrap .regi_in .hover .btns a + a {margin-top:0.5rem;}
.regi_list_wrap .regi_in .hover .dim {position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.7;}
.regi_list_wrap .regi_list > ul > li {width:22rem;margin:1.5rem auto 0;}
#container .sub_wrap li.none {margin:6rem 0;text-align:center;float:none;width:100%;border:0 !important;}
#container .sub_wrap li.none .list_in {display:inline-block;}
#container .sub_wrap li.none .list_in:before {display:inline-block;content:'';width:8rem;height:8rem;background:url("../images/icon/m_sub_event_none.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
#container .sub_wrap li.none p {color: #888;font-size: 1.15rem;margin-top: 1rem;}
#container .sub_wrap .more_bt {width:100%;margin:2rem 0 0;border:0 !important;}
#container .sub_wrap .more_bt .list_in a {display: block;width: 5rem;height: 5rem;background: url("../images/icon/m_sub_more_bt.png") no-repeat 0 0;background-size: 100%;font: 0/0 a;margin:0 auto;}

.regi_list_wrap .regi_list .hover_list {padding:3rem 1rem 0;}
.regi_list_wrap .regi_list .hover_list li {float: left;width: 50%;margin:0 0 1.8rem;}
.regi_list_wrap .regi_list .hover_list li:nth-child(odd) .regi_in {margin-right:0.5rem;}
.regi_list_wrap .regi_list .hover_list li:nth-child(even) .regi_in {margin-left:0.5rem;}


.regi_list_wrap .regi_in .infos_w {margin-top:1.5rem;} 
.regi_list_wrap .regi_in .infos_w .flag_w {display:-webkit-flex;display:flex;margin-bottom:0.7rem;} 
.regi_list_wrap .regi_in .infos_w .flag_w .left {display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;} 
.regi_list_wrap .regi_in .infos_w .flag_w .left > div + div {margin-left:0.5rem;}
.regi_list_wrap .regi_in .infos_w .flag_w .right {margin-left: auto;display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;} 
.regi_list_wrap .regi_in .infos_w .flag_w .right > div + div {margin-left:0.5rem;}
.regi_list_wrap .regi_in .infos_w .payment {font-size:1.05rem;line-height:1.6rem;display:inline-block;vertical-align:middle;}
.regi_list_wrap .regi_in .infos_w .payment:before {position:relative;bottom:0.15rem;margin-right:0.5rem;display:inline-block;vertical-align:middle;content:"";width:1.5rem;height:1.5rem;background-repeat: no-repeat;background-position:0 0;background-size: 100%;}
.regi_list_wrap .regi_in .infos_w .payment.free {color: #4c6df7;}
.regi_list_wrap .regi_in .infos_w .payment.pay {color: #ff7979;}
.regi_list_wrap .regi_in .infos_w .payment.free:before {background-image: url("../images/icon/m_main_cols1_ic01.png");}
.regi_list_wrap .regi_in .infos_w .payment.pay:before {background-image: url("../images/icon/m_main_cols1_ic02.png");}
.regi_list_wrap .regi_in .infos_w .star {display:inline-block;vertical-align:middle;width:1.5rem;height:1.5rem;background:url("../images/icon/m_sub_star.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
.regi_list_wrap .regi_in .infos_w > strong {font-size: 1.3rem;display:block;font-weight:normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 1px 0;margin-bottom:0.7rem;} 
.regi_list_wrap .regi_in .infos_w > span {font-size: 1.05rem;display:block;margin-bottom:0.5rem;letter-spacing: 0;} 
.regi_list_wrap .regi_in .infos_w > span:before {position: relative;bottom: 0.2rem;margin-right: 0.5rem;display: inline-block;vertical-align: middle;content: "";width: 1.2rem;height: 1.4rem;background: url("../images/icon/m_main_cols1_ic03.png") no-repeat center center;background-size: 99%;}
.regi_list_wrap .regi_in .infos_w > em {font-size: 1.05rem;display:block;letter-spacing: 0;} 
.regi_list_wrap .regi_in .infos_w > em:before {position: relative;bottom: 0.2rem;margin-right: 0.5rem;display: inline-block;vertical-align: middle;content: "";width: 1.2rem;height: 1.4rem;background: url("../images/icon/m_main_cols1_ic04.png") no-repeat center center;background-size: 85%;}


/*페이징*/
.paging_w {text-align:center;font-size:0;margin-top:2rem;}
.paging_w .paging_in {display:inline-block;}
.paging_w .prev_w {display:inline-block;vertical-align:middle;margin-right:0.5rem;}
.paging_w .prev_w > div + div {margin-left:0.3rem;}
.paging_w .prev_w .first {display:inline-block;vertical-align:middle;}
.paging_w .prev_w .prev {display:inline-block;vertical-align:middle;}
.paging_w .prev_w .first a {display:block;width:2rem;height:2rem;background:url("../images/icon/m_p_prev2.png") no-repeat center center;background-size:contain;}
.paging_w .prev_w .prev a {display:block;width:2rem;height:2rem;background:url("../images/icon/m_p_prev.png") no-repeat center center;background-size:contain;}
.paging_w .paging_list {display:inline-block;vertical-align:middle;}
.paging_w .paging_list li {display:inline-block;vertical-align:middle;text-align:center;}
.paging_w .paging_list li a {display:block;font-size:1.05rem;width:1.7rem;height:2rem;line-height:2.1rem;color: #888;}
.paging_w .paging_list li a:hover {color: #4C6DF7;font-weight:bold;}
.paging_w .paging_list li b {display:block;font-size:1.05rem;width:1.7rem;height:2rem;line-height:2.1rem;color: #4C6DF7;}
.paging_w .next_w {display:inline-block;vertical-align:middle;margin-left:1rem;}
.paging_w .next_w > div + div {margin-left:0.3rem;}
.paging_w .next_w .next {display:inline-block;vertical-align:middle;}
.paging_w .next_w .last {display:inline-block;vertical-align:middle;}
.paging_w .next_w .next a {display:block;width:2rem;height:2rem;background:url("../images/icon/m_p_next.png") no-repeat center center;background-size:contain;}
.paging_w .next_w .last a {display:block;width:2rem;height:2rem;background:url("../images/icon/m_p_next2.png") no-repeat center center;background-size:contain;}


/*footer*/
.footer {position:relative;margin-top:auto;padding:110px 15px 30px;background-color:#222;color:#7a7a7a;z-index:2;}
.footer .logo_wrap img {display:block;margin:0 auto;width:100px;}

.footer .sns_wrap {font-size:0;text-align:center;margin-top:30px;}
.footer .sns_wrap li {display:inline-block;width:28px;height:28px;margin:0 10px;}
.footer .sns_wrap li a {display:block;width:100%;height:100%;background-repeat: no-repeat;background-position:0 0;background-size:100%;font: 0/0 a;}
.footer .sns_wrap li.twitter a {background-image:url("../images/icon/m_footer_sns_bt01.png");}
.footer .sns_wrap li.instagram a {background-image:url("../images/icon/m_footer_sns_bt02.png");}
.footer .sns_wrap li.facebook a {background-image:url("../images/icon/m_footer_sns_bt03.png");}
.footer .sns_wrap li.blog a {background-image:url("../images/icon/m_footer_sns_bt04.png");}

.footer .family_wrap {width: 200px;height:35px;margin: 15px auto 0;position: relative;border-radius: 15px;z-index: 1;}
.footer .family_wrap .family_in {position:absolute;bottom: 0;left:0;width:100%;}
.footer .family_wrap .family_btn {position: relative;cursor:pointer;padding:0px 20px;height:35px;line-height:36px;box-sizing:border-box;border-radius: 5px;background:url("../images/icon/m_family_icon.png") no-repeat 90% center #2c2c2c;background-size:7px;}
.footer .family_wrap ul {display:none;color: #7a7a7a;background-color: #fff;border-radius: 5px;border:1px solid #e8e8e8;padding:15px 20px;}
.footer .family_wrap ul li + li {margin-top:10px;}
.footer .family_wrap ul li a {color: #222;overflow: hidden;padding: 1px 0;text-overflow: ellipsis;white-space: nowrap;display: block;}

.footer .link_wrap {font-size:0;text-align:center;margin-top:8px;}
.footer .link_wrap ul {display:inline-block;max-width:240px;}
.footer .link_wrap li {display:inline-block;margin:10px 7px 0;}
.footer .link_wrap li a {font-size:13px;color:#7a7a7a}

.footer .copyright_wrap {text-align:center;margin-top:15px;}
.footer .copyright_wrap li {color: #4d4d4d;}
.footer .copyright_wrap li + li {margin-top:7px;}

.footer .footer_btn {display:none;}

.footer .btnTop {position:absolute;top: 30px;left:50%;margin-left: -25px;}
.footer .btnTop a {display: block;width: 50px;height: 50px;font: 0/0 a;background: url("../images/icon/m_footer_bt_top.png") no-repeat 0 0;background-size:100%;}

@media screen and (max-width:1023px) {
    .footer .btnTop {display: block !important;}
}


/*-------------테블릿-------------*/
@media screen and (min-width:768px) {

    /*레이어*/
    .pop_layer {max-width:450px;}

    .pop_layer .pop_cont strong {}
    .pop_layer .pop_cont p {}

    /*등록 리스트
    .regi_list_wrap .regi_list > ul > li {width:50%;float:left;margin:1.5rem 0 0;}
    .regi_list_wrap .regi_list > ul > li:nth-child(odd) .regi_in {margin-right:0.5rem;}
    .regi_list_wrap .regi_list > ul > li:nth-child(even) .regi_in {margin-left:0.5rem;}
    */

}

/*-------------데스크탑-------------*/
@media screen and (min-width:1024px) {

    body {min-width: 1200px;}
    .inner {width:100%;max-width:1200px;margin:0 auto;position: relative;}
    img {width:auto;}
    
    /*상단배너*/
    .top_bn_w {}
    .top_bn_w .inner {max-width: 100%;padding:23px 80px;text-align:center;}
    .top_bn_w ul {display:inline-block;}
    .top_bn_w .slick-slider .slick-track, 
    .top_bn_w .slick-slider .slick-list {display:inline-block;}
    .top_bn_w ul .slick-slide {width:auto !important;clear: both;}
    .top_bn_w ul:before {position: absolute;top:3px;left:-30px;width:20px;height:20px;background:url("../images/icon/pc_main_new.png") no-repeat 0 0;background-size: 20px;}
    .top_bn_w li {padding:2px 0;}
    .top_bn_w li p {padding: 2px 0;font-size: 16px;}
    .top_bn_w li.new p {padding-left:30px;}
    .top_bn_w li.new p:before {width:20px;height:20px;background:url("../images/icon/pc_main_new.png") no-repeat 0 0;}
    .top_bn_w .inner .top_bn_close {position:absolute;top:50%;right:80px;margin-top:-7px;width:14px;height:14px;background:url("../images/icon/pc_main_top_close.png") no-repeat 0 0;}

    /*header*/
    #header .inner {max-width: 100%;width:100%;height:100px;}
    #header .inner.on {-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,.6);box-shadow: 0px 0px 30px rgba(0,0,0,.6);}
    #header .logo_wrap {margin-left:80px;}

    #header .gnb_wrap {margin-right:80px;}
    #header .gnb_wrap > div + div {margin-left:45px;}

    .gnb_wrap .log_wrap {margin-right:0;display: inline-block;}
    .gnb_wrap .log_wrap .link li + li{margin-left:45px;}
    .gnb_wrap .log_wrap .link li a {font-size:14px;}
    .gnb_wrap .log_wrap .mypage_bt_w {margin-left:45px;position:relative;}
    .gnb_wrap .log_wrap .mypage_bt_w:after {display:block;position: absolute;bottom: -40px;left: -38px;content: "";width: 300px;height: 40px;}
    .gnb_wrap .log_wrap .mypage_bt_w .mypage_bt .icon_wrap .icon {width:34px;height:42px;background:url("../images/icon/pc_header_icon02.png") no-repeat center center;background-size:34px;}
    .gnb_wrap .log_wrap .mypage_bt_w .mypage_bt .icon_wrap .img {width:35px;height:35px;}
    .gnb_wrap .log_wrap .mypage_bt_w .mypage_bt .icon_wrap b {font-size:12px;position:absolute;top:-8px;right:-4px;width:18px;height:18px;line-height:18px;border-radius:100%;background-color:#FF6280;text-align:center;color:#fff;font-weight:normal;text-indent: -1px;}
    .gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list {position: absolute;top:60px;left:-68px;margin:0;padding:30px;background-color:#fff;border-radius:5px;width: 110px;}
    .gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list:before {width:17px;height:12px;top:-11px;right:75px;background-image:url("../images/icon/pc_sub_share_arr.png");}
    .gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list strong {font-size:16px;}
    .gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list ul {margin-top:15px;padding-top:15px;}
    .gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list li + li {margin-top:15px;}
    .gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list li a {font-size:14px;}
    .gnb_wrap .log_wrap .mypage_bt_w .mypage_bt_list li a:hover {color:#4c6df7;}
    .gnb_wrap .log_wrap .users {font-size:14px;margin-left:10px;}

    .gnb_wrap .search_bt_w button {width:42px;height:42px;background:url("../images/icon/pc_header_icon01.png") no-repeat 0 0;background-size:42px;}

    .gnb_wrap .ticket_w a {width:141px;height:40px;line-height:40px;padding:0;border-radius:30px;text-align:center;}
    .gnb_wrap .ticket_w a:before {margin-right:10px;bottom: 0px;width: 22px;height: 15px;background: url("../images/icon/pc_main_ticket.png") no-repeat center center;background-size: 100%;}
    .gnb_wrap .ticket_w a span {font-size:15px;}

    .gnb_wrap .panel_btn {width: 43px;height: 33px;}
    .gnb_wrap .panel_btn span.barTop{top: 0;}
    .gnb_wrap .panel_btn span.barMid{top: 15px;}
    .gnb_wrap .panel_btn span.barBot{bottom: 0;}
    .gnb_wrap .panel_btn.on .barTop{top:15px;}
    .gnb_wrap .panel_btn.on .barBot{top:15px;}

    .pt_open .gnb_wrap .log_wrap {display: inline-block;}
    .pt_open .gnb_wrap .search_bt_w {display: inline-block;}
    .pt_open .gnb_wrap .ticket_w {display: inline-block;}

    /*container*/
    #container {margin-top:0;}


    /*패널*/
    .panel_w {width: 480px;}
    .panel_w .panel_in {width: 480px;}
    .panel_w.on .panel_in {-webkit-box-shadow: 0px 125px 30px rgba(0,0,0,.6);box-shadow: 0px 125px 30px rgba(0,0,0,.6);}
    .panel_w .panel_list .site_m {padding:60px;}
    .panel_w .panel_list .site_list > ul > li + li {margin-top:40px;padding-top:40px;}
    .panel_w .panel_list .site_list > ul > li > strong {width:145px;font-size:26px;width:100%;}
    .panel_w .panel_list .site_list .depth li {font-size:18px;}
    .panel_w .panel_list .site_list .depth li + li {margin-top:20px;}
    .panel_w .panel_list .panel_link {margin-top:200px;}
    .panel_w .panel_list .panel_link a {font-size: 16px;height:60px;line-height: 60px;width: 100%;border-radius:5px;}

    /*검색패널*/
    .panel_s_w {width: 640px;}
    .panel_s_w .panel_in {width: 640px;}
    .panel_s_w.on .panel_in {-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,.6);box-shadow: 0px 0px 30px rgba(0,0,0,.6);}
    .panel_s_w .panel_list .search_m {padding:60px;}
    .panel_s_w .panel_list .panel_s_close {position: absolute;top:60px;right:60px;width:28px;height:28px;background:url("../images/icon/pc_panel_close.png") no-repeat center center;background-size:28px;}
    .panel_s_w .panel_list .search_input_w {margin-top:60px;}
    .panel_s_w .panel_list .search_input {width:100%;}
    .panel_s_w .panel_list .search_input_w button {width:28px;height:28px;right:15px;background:url("../images/icon/pc_panel_search.png") no-repeat center center;background-size:28px;}
    .panel_s_w .panel_list .search_input_list {margin-top: 50px;}
    .panel_s_w .panel_list .search_input_list li + li{margin-top:10px;}
    .panel_s_w .panel_list .search_input_list li a {display:block;font-size:14px;}


    /*검색*/
    .search_input_w .search_input {position: relative;width:600px;margin:0 auto;}
    .search_input_w .search_input input {width:100%;border:0;border-bottom:2px solid #222;height:60px;font-size:18px;line-height:60px;box-sizing:border-box;padding:0 50px 0 25px;}
    .search_input_w .search_input button {position: absolute;top:50%;right:0;margin-top:-15px;width:30px;height:30px;background:url("../images/icon/pc_regi_search.png") no-repeat center center;background-size:contain;font: 0/0 a;}

    /*메인리스트*/
    .main_list {overflow: visible;padding: 0;width:1240px;}
    .main_list:after {content:"";display:block;clear:both;}
    .main_list li {display: block;width: 373px;margin-right:0;}
    .main_list li.slick-slide {width: 373px !important;}
    .main_list li + li {margin-left:41px;}
    .main_list .list_in .img_wrap .flag {top:20px;left:20px;}
    .main_list .list_in .img_wrap .flag .flag_item {width:50px;height:50px;border-radius: 100px;font-size: 12px;line-height: 1.1;padding:0;}
    .main_list .list_in .img_wrap .flag .flag_item + .flag_item {margin-left:5px;}
    .main_list .list_in .event_wrap .flag {margin-bottom: 13px;}
    .main_list .list_in .event_wrap .flag .flag_item {height:22px;font-size:12px;padding: 0 15px;line-height: 23px;border-radius: 5px;border:1px solid #222;}
    .main_list .list_in .event_wrap .flag .flag_item + .flag_item {margin-left:5px;}
    .main_list .list_in .flag .payment {font-size:16px;line-height:21px;}
    .main_list .list_in .flag .payment:before {bottom:1px;margin-right:5px;width:18px;height:18px;}
    .main_list .list_in .flag .payment.free:before {background-image: url("../images/icon/pc_main_cols1_ic02.png");}
    .main_list .list_in .flag .payment.pay:before {background-image: url("../images/icon/pc_main_cols1_ic01.png");}
    .main_list .list_in .event_wrap {margin-top: 30px;padding:0 8px;}
    .main_list .list_in .event_wrap .tit {font-size: 18px;padding: 1px 0;margin-bottom:5px;}
    .main_list .list_in .event_wrap > strong {font-size: 18px;padding: 1px 0;margin-bottom:13px;}
    .main_list .list_in .event_wrap > span {font-size: 14px;margin-bottom:10px;} 
    .main_list .list_in .event_wrap > span:before {bottom: 2px;margin-right: 10px;width: 14px;height: 16px;background: url("../images/icon/pc_main_cols1_ic03.png") no-repeat center center;background-size: 14px;}
    .main_list .list_in .event_wrap > span.regi:before {width: 14px;height: 14px;background-image:url("../images/icon/pc_main_cols1_ic05.png");background-size: 14px;}
    .main_list .list_in .event_wrap > em {font-size: 14px;} 
    .main_list .list_in .event_wrap > em:before {bottom: 2px;margin-right: 10px;width: 14px;height: 16px;background: url("../images/icon/pc_main_cols1_ic04.png") no-repeat center center;background-size: 12px;}
    .main_list .list_in .event_wrap i {display:inline;font-size: 14px;margin-right: 10px;font-style: normal;}
    .main_list .slick-prev {position:absolute;top:200px;left:-120px;width:75px;height:75px;font: 0/0 a;background: url("../images/icon/pc_main_prev_75.png") no-repeat center center;}
    .main_list .slick-next {position:absolute;top:200px;right:-90px;width:75px;height:75px;font: 0/0 a;background: url("../images/icon/pc_main_next_75.png") no-repeat center center;}
    #container .main_list li.more_bt {clear: both;width: 100%;display: block;float: none;margin: 0;}
    #container .main_list li.more_bt .list_in a {width:80px;height:80px;margin: 0px auto;} 

    /*검색 리스트*/
    .search_list_w {margin-top:70px;}
    .search_list_w h4 {font-size:40px;margin-bottom:50px;}
    .search_list_w .search_list {border-top:1px solid #e8e8e8;}
    .search_list_w .search_list > li {padding:30px 0;}
    .search_list_w .search_list > li + li {border-top:1px solid #e8e8e8;}

    .search_list_w .search_list .view .img {float:left;width:130px;margin:0;}
    .search_list_w .search_list .view .img img {width:130px;}
    .search_list_w .search_list .view .info_W{float:left;width:500px;margin-left:40px;}
    .search_list_w .search_list .view .info_W strong {font-size: 40px;margin-top: 10px;line-height: 1.3;font-weight: normal;display:block;color:#4C6DF7;}
    .search_list_w .search_list .view .info_W > p {color:#888;font-size:14px;line-height:1.5;margin-top:30px;}
    .search_list_w .search_list .view .info_W > p a {color:#222;text-decoration:underline;}
    .search_list_w .search_list .view h4 {font-size: 18px;margin:  20px 0;line-height: 1.3;}
    .search_list_w .search_list .view .qr {width:125px;flex: none;margin:0 20px;}
    .search_list_w .search_list .view .sort {font-size:18px;margin:20px 0;}
    .search_list_w .search_list .view .free {color:#FF6280;}
    .search_list_w .search_list .view .pay {color:#4C6DF7;}
    .search_list_w .search_list .view .infos {margin:0 0 20px 0;letter-spacing: 0;}
    .search_list_w .search_list .view .infos li {font-size:14px;float: left;}
    .search_list_w .search_list .view .infos li i {margin-right:10px;}
    .search_list_w .search_list .view .infos li + li {margin-top:0px;margin-left:60px;}
    .search_list_w .search_list .view .infos li:before {position: relative;bottom: 2px;margin-right: 10px;display: inline-block;vertical-align: middle;content: "";width: 14px;height: 16px;background: url("../images/icon/pc_main_cols1_ic05.png") no-repeat center center;background-size: 14px;}
    .search_list_w .search_list .view .infos li + li:before {background: url("../images/icon/pc_main_cols1_ic03.png") no-repeat center center;background-size: 14px;}
    .search_list_w .search_list .view .infos li + li + li:before {background: url("../images/icon/pc_main_cols1_ic04.png") no-repeat center center;background-size: 12px;}

    .search_list_w .search_list .flag .flag_item {height:50px;border-radius: 100px;font-size: 12px;line-height: 1.1;}
    .search_list_w .search_list .flag .flag_item + .flag_item {margin-left:0.5rem;}
    .search_list_w .search_list .flag {margin-bottom: 0;}
    .search_list_w .search_list .flag .flag_item {height:22px;font-size:12px;padding: 0 15px;line-height: 23px;border-radius: 5px;border:1px solid #222;}
    .search_list_w .search_list .flag .flag_item + .flag_item {margin-left:5px;}
    .search_list_w .search_list .flag .payment {font-size:16px;line-height:21px;}
    .search_list_w .search_list .flag .payment:before {bottom:1px;margin-right:5px;width:18px;height:18px;}
    .search_list_w .search_list .flag .payment.free:before {background-image: url("../images/icon/pc_main_cols1_ic02.png");}
    .search_list_w .search_list .flag .payment.pay:before {background-image: url("../images/icon/pc_main_cols1_ic01.png");}

    .search_list_w .search_list .dt_bt {width:99px;height:99px;background:url("../images/icon/pc_search_dt.png") no-repeat center center;background-size:contain;font: 0/0 a;}
    .search_list_w .search_list .dt_bt.join {background-image: url("../images/icon/pc_search_dt2.png");}
    .search_list_w .search_list .guide {font-size:14px;margin-top:10px;}


    .search_list_w .text_list > li {padding:30px 40px;}
    .search_list_w .text_list > li a .flag_item {height: 22px;font-size: 12px;padding: 0;line-height: 23px;border-radius: 5px;border: 1px solid #222;width:55px;flex: none;margin-right:40px;}
    .search_list_w .text_list > li a p {font-size: 16px;line-height:1.4;}


    /*등록 리스트*/
    .regi_list_wrap .regi_in {width:270px;}
    .regi_list_wrap .regi_in .tops {position: relative;overflow: hidden;border-radius:10px;cursor: pointer;}
    .regi_list_wrap .regi_in .sum_w {position: relative;}
    .regi_list_wrap .regi_in .sum_w img {width:auto;}
    .regi_list_wrap .regi_in .sum_w .img .flag {top:20px;left:20px;}
    .regi_list_wrap .regi_in .sum_w .img .flag .flag_item {width:50px;height:50px;border-radius: 100px;font-size: 12px;line-height: 1.1;padding:0;}
    .regi_list_wrap .regi_in .sum_w .img .flag .flag_item + .flag_item {margin-left:5px;}
    .main_list .list_in .event_wrap .flag {margin-bottom: 13px;}
    .main_list .list_in .event_wrap .flag .flag_item {height:22px;font-size:12px;padding: 0 15px;line-height: 23px;border-radius: 5px;border:1px solid #222;}
    .main_list .list_in .event_wrap .flag .flag_item + .flag_item {margin-left:5px;}
    .regi_list_wrap .regi_in .hover {position:absolute;top:0;left:0;width:100%;height:100%;border-radius:10px;overflow: hidden;display:none;}
    .regi_list_wrap .regi_in .hover .btns {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;display: -webkit-flex;display:flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;flex-flow: column;}
    .regi_list_wrap .regi_in .hover .btns a {display:inline-block;color:#fff;border:1px solid #fff;border-radius:5px;width:190px;height:50px;text-align:center;line-height:50px;font-size:14px;}
    .regi_list_wrap .regi_in .hover .btns a:hover {background-color:#fff;color:#222;}
    .regi_list_wrap .regi_in .hover .btns a + a {margin-top:10px;}
    .regi_list_wrap .regi_in .hover .dim {position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.7;}
    .regi_list_wrap .regi_list > ul > li {width:270px;float:left;margin:0px 55px 60px 0px;}
    .regi_list_wrap .regi_list > ul > li:nth-child(3n) {margin-right: 0;}
    .regi_list_wrap .regi_list > ul > li:nth-child(odd) .regi_in {margin-right:0;}
    .regi_list_wrap .regi_list > ul > li:nth-child(even) .regi_in {margin-left:0;}
    #container .sub_wrap li.none {margin:150px 0;text-align:center;float:none;width:100%;border:0 !important;}
    #container .sub_wrap li.none .list_in {display:inline-block;}
    #container .sub_wrap li.none .list_in:before {display:inline-block;content:'';width:120px;height:120px;background:url("../images/icon/m_sub_event_none.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
    #container .sub_wrap li.none p {color: #888;font-size: 14px;margin-top: 20px;}
    #container .sub_wrap .more_bt {width:100%;margin:20px 0 0;border:0 !important;}
    #container .sub_wrap .more_bt .list_in a {display: block;width: 80px;height: 80px;background: url("../images/icon/m_sub_more_bt.png") no-repeat 0 0;background-size: 100%;font: 0/0 a;margin:0 auto;}

    .regi_list_wrap .regi_list .hover_list {padding:60px 0 0;}
    .regi_list_wrap .regi_list .hover_list li {float: left;width: 270px;margin: 0px 55px 60px 0px;}
    .regi_list_wrap .regi_list .hover_list li:nth-child(odd) .regi_in {margin-right:0;}
    .regi_list_wrap .regi_list .hover_list li:nth-child(even) .regi_in {margin-left:0;}
    .regi_list_wrap .regi_list .hover_list li:nth-child(4n) {margin-right:0;}

    .regi_list_wrap .regi_in .infos_w {margin-top:20px;} 
    .regi_list_wrap .regi_in .infos_w .flag_w {display:-webkit-flex;display:flex;margin-bottom:13px;} 
    .regi_list_wrap .regi_in .infos_w .flag_w .left {display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;} 
    .regi_list_wrap .regi_in .infos_w .flag_w .left > div + div {margin-left:10px;}
    .regi_list_wrap .regi_in .infos_w .flag_w .right {margin-left: auto;display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;} 
    .regi_list_wrap .regi_in .infos_w .flag_w .right > div + div {margin-left:10px;}
    .regi_list_wrap .regi_in .infos_w .payment {font-size:16px;line-height:21px;display:inline-block;vertical-align:middle;}
    .regi_list_wrap .regi_in .infos_w .payment:before {position:relative;bottom:2px;margin-right:5px;display:inline-block;vertical-align:middle;content:"";width:21px;height:21px;background-repeat: no-repeat;background-position:0 0;background-size: 100%;}
    .regi_list_wrap .regi_in .infos_w .payment.free {color:#ff7979;}
    .regi_list_wrap .regi_in .infos_w .payment.pay {color: #4c6df7;}
    .regi_list_wrap .regi_in .infos_w .payment.free:before {background-image: url("../images/icon/pc_main_cols1_ic02.png");}
    .regi_list_wrap .regi_in .infos_w .payment.pay:before {background-image: url("../images/icon/pc_main_cols1_ic01.png");}
    .regi_list_wrap .regi_in .infos_w .star {display:inline-block;vertical-align:middle;width:21px;height:21px;background:url("../images/icon/pc_sub_star.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
    .regi_list_wrap .regi_in .infos_w > strong {font-size: 18px;display:block;font-weight:normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 1px 0;margin-bottom:13px;} 
    .regi_list_wrap .regi_in .infos_w > span {font-size: 14px;display:block;margin-bottom:10px;letter-spacing: 0;} 
    .regi_list_wrap .regi_in .infos_w > span:before {position: relative;bottom: 2px;margin-right: 10px;display: inline-block;vertical-align: middle;content: "";width: 14px;height: 16px;background: url("../images/icon/pc_main_cols1_ic03.png") no-repeat center center;background-size: 100%;}
    .regi_list_wrap .regi_in .infos_w > em {font-size: 14px;display:block;letter-spacing: 0;} 
    .regi_list_wrap .regi_in .infos_w > em:before {position: relative;bottom: 2px;margin-right: 10px;display: inline-block;vertical-align: middle;content: "";width: 14px;height: 16px;background: url("../images/icon/pc_main_cols1_ic04.png") no-repeat center center;background-size: 12px;}



    /*레이어*/
    .pop_layer {max-width:800px;}
    .pop_layer .pop_cont {padding:100px 80px;}
    .pop_layer .layer_close_bt {top: 30px;right: 30px;width: 32px;height: 32px;}
    .pop_layer .pop_cont .btn_wrap {margin-top:60px;}
    .pop_layer .pop_cont .btn_wrap a {height:70px;line-height: 72px;width: 250px;font-size: 20px;}

    .pop_layer .pop_cont strong {display:block;width: 100%;text-align: center;font-size:37px;line-height:1.3;}
    .pop_layer .pop_cont p {text-align: center;width: 100%;font-size:18px;}
    .pop_layer .pop_cont p a {font-size:18px;}


    /*페이징*/
    .paging_w {margin-top:60px;}
    .paging_w .prev_w {margin-right:20px;}
    .paging_w .prev_w > div + div {margin-left:5px;}
    .paging_w .prev_w .first a {width:30px;height:30px;background:url("../images/icon/pc_p_prev2.png") no-repeat center center;background-size:30px;}
    .paging_w .prev_w .prev a {width:30px;height:30px;background:url("../images/icon/pc_p_prev.png") no-repeat center center;background-size:30px;}
    .paging_w .paging_list li a {font-size:14px;width:30px;height:30px;line-height:30px;}
    .paging_w .paging_list li b {font-size:14px;width:30px;height:30px;line-height:30px;}
    .paging_w .next_w {margin-left:20px;}
    .paging_w .next_w > div + div {margin-left:5px;}
    .paging_w .next_w .next a {width:30px;height:30px;background:url("../images/icon/pc_p_next.png") no-repeat center center;background-size:30px;}
    .paging_w .next_w .last a {width:30px;height:30px;background:url("../images/icon/pc_p_next2.png") no-repeat center center;background-size:30px;}

    /*footer*/
    .footer {padding:90px 80px 80px !important;}
    .footer .inner {max-width:100%;}
    .footer .logo_wrap {margin-top: 0px;}
    .footer .logo_wrap img {width:auto;display:inline;}
    .footer .sns_wrap {position: absolute;top: -28px;left: 220px;}
    .footer .sns_wrap li {float: left;margin: 0;}
    .footer .sns_wrap li + li {margin-left: 60px;}
    .footer .sns_wrap li.twitter a {background-image:url("../images/icon/pc_footer_sns_bt01.png");}
    .footer .sns_wrap li.instagram a {background-image:url("../images/icon/pc_footer_sns_bt02.png");}
    .footer .sns_wrap li.facebook a {background-image:url("../images/icon/pc_footer_sns_bt03.png");}
    .footer .sns_wrap li.blog a {background-image:url("../images/icon/pc_footer_sns_bt04.png");}

    .footer .family_wrap {position: absolute;top: -15px;right: 0;width: 360px;height:60px;margin: 0;max-width:100%;}
    .footer .family_wrap .family_in {}
    .footer .family_wrap .family_btn {font-size: 16px;height:60px;line-height:60px;padding:0 30px;background-size:13px;border-radius: 15px;}
    .footer .family_wrap ul {bottom: 60px;border-radius: 15px;padding:30px;}
    .footer .family_wrap ul li + li {margin-top:20px;}
    .footer .family_wrap ul li a {font-size: 16px;}

    .footer .link_wrap {text-align: left;margin-top: 60px;}
    .footer .link_wrap ul {display: block;max-width: 100%;}
    .footer .link_wrap li {display: block; float: left;margin: 0;}
    .footer .link_wrap li + li {margin-left: 30px;}
    .footer .link_wrap li a {font-size: 16px;}

    .footer .copyright_wrap {text-align: left;margin-top: 12px;}
    .footer .copyright_wrap ul {width: 560px;}
    .footer .copyright_wrap li {font-size: 16px;display: block; float: left;margin: 8px 0 0;}
    .footer .copyright_wrap li:first-child {margin-right: 35px;}
    .footer .copyright_wrap li + li {margin-top: 8px;}

    .footer .footer_btn {display:block;position:absolute;bottom:60px;right:0px;}
    .footer .footer_btn a {border:2px solid #7a7a7a;display:block;height:36px;line-height:36px;padding:0 15px;color:#7a7a7a;font-size:14px;font-weight:bold;border-radius: 5px;}

    .footer .btnTop {position: fixed;top: auto;left: auto;bottom: 50px;right: 50px;margin-left: 0;z-index: 2;display:none;}
    .footer .btnTop a {display: block;width: 70px;height: 70px;background: url("../images/icon/pc_footer_bt_top.png") no-repeat 0 0;background-size:70px;}

}