@charset "utf-8";
.main_wrap {position: relative;}
.main_wrap:before {position: absolute;content: "벡드라운드";top:0;left:0;font: 0/0 a;width:100%;height:20rem;background-color: #4C6DF7;}
.main_wrap img {width:100%;}

/*메인리스트*/
.main_list {white-space: nowrap;overflow-x: scroll;overflow-y: hidden;-webkit-overflow-scrolling: touch;padding: 0 1rem;font-size: 0;text-align: center;}
.main_list::-webkit-scrollbar {display: none}
.main_list li {display: inline-block;width: 20rem;vertical-align: top;text-align: left;margin-right:1rem;}
.main_list .list_in .img_wrap {position: relative;}
.main_list .list_in .img_wrap .flag {position: absolute;top:1rem;left:1rem;}
.main_list .list_in .img_wrap .flag .flag_item {display:-webkit-inline-flex;display:inline-flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;width:4rem;height:4rem;vertical-align: top;border-radius: 0.5rem;font-size: 0.9rem;line-height: 1.1;}
.main_list .list_in .img_wrap .flag .flag_item + .flag_item {margin-left:0.5rem;}
.main_list .list_in .img_wrap .flag .flag_item.red {background-color: #ff7979;color:#fff;}
.main_list .list_in .img_wrap .flag .flag_item.blue {background-color:#4c6df7;color:#fff;}
.main_list .list_in .img_wrap .flag .flag_item.yellow {background-color: #fdf168;color:#222;}
.main_list .list_in .img_wrap .flag .flag_item.gray {background-color: #e8e8e8;color:#222;}
.main_list .event_wrap .flag {display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;margin-bottom: 0.7rem;}
.main_list .event_wrap .flag .flag_item {height:1.8rem;font-size:0.9rem;padding: 0 0.7rem;line-height: 1.9rem;border-radius: 2rem;border:1px solid #222;}
.main_list .event_wrap .flag .flag_item.red {color: #ff7979;border-color: #ff7979;}
.main_list .event_wrap .flag .flag_item + .flag_item {margin-left:0.5rem;}
.main_list .flag .payment {font-size:1.05rem;line-height:1.6rem;display:inline-block;vertical-align:middle;margin-left:auto;}
.main_list .flag .payment:before {position:relative;bottom:0.15rem;margin-right:0.5rem;display:inline-block;vertical-align:middle;content:"";width:1.5rem;height:1.5rem;background-repeat: no-repeat;background-position:0 0;background-size: 100%;}
.main_list .flag .payment.free {color: #ff7979;}
.main_list .flag .payment.pay {color: #4c6df7;}
.main_list .flag .payment.free:before {background-image: url("../images/icon/m_main_cols1_ic02.png");}
.main_list .flag .payment.pay:before {background-image: url("../images/icon/m_main_cols1_ic01.png");}
.main_list .event_wrap {margin-top: 1.5rem;padding:0 0.5rem;}
.main_list .event_wrap > strong {font-size: 1.3rem;display:block;font-weight:normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 1px 0;margin-bottom:0.7rem;}
.main_list .event_wrap > span {font-size: 1.05rem;display:block;margin-bottom:0.5rem;letter-spacing: 0;} 
.main_list .event_wrap > span:before {position: relative;bottom: 0.2rem;margin-right: 0.5rem;display: inline-block;vertical-align: middle;content: "";width: 1.2rem;height: 1.4rem;background: url("../images/icon/m_main_cols1_ic03.png") no-repeat center center;background-size: 99%;}
.main_list .event_wrap > em {font-size: 1.05rem;display:block;letter-spacing: 0;} 
.main_list .event_wrap > em:before {position: relative;bottom: 0.2rem;margin-right: 0.5rem;display: inline-block;vertical-align: middle;content: "";width: 1.2rem;height: 1.4rem;background: url("../images/icon/m_main_cols1_ic04.png") no-repeat center center;background-size: 85%;}
.main_list li.more_bt {width: auto;margin: 0;}
.main_list li.more_bt .list_in a {display: block;width: 5rem;height: 5rem;background: url("../images/icon/m_sub_more_bt.png") no-repeat 0 0;background-size: 100%;font: 0/0 a;margin-top: 11rem;}

.main_wrap .cols0 {position: relative;z-index: 1;padding: 3rem 0 1.5rem;}
.main_wrap .cols0 .inner {position: relative;}
.main_wrap .cols0 h3 {padding:0 1rem;color:#fff;font-size:2rem;margin-bottom:1.5rem;}
.main_wrap .cols0 h3 a {color:#fff;}

.main_wrap .cols1 {position: relative;z-index: 1;padding: 1.5rem 0;}
.main_wrap .cols1 .inner {position: relative;}
.main_wrap .cols1 h3 {padding:0 1rem;color:#222;font-size:2rem;margin-bottom:1.5rem;}
.main_wrap .cols1 h3 a {color:#222;}


.main_wrap .cols2 {position: relative;z-index: 1;padding: 1.5rem 0;}
.main_wrap .cols2 .inner {position: relative;}
.main_wrap .cols2 h3 {padding:0 1rem;color:#222;font-size:2rem;margin-bottom:1.5rem;}
.main_wrap .cols2 h3 a {color:#222;}
.main_wrap .cols2 .regi_list_wrap .regi_in .tops {box-shadow:none;}
.main_wrap .cols2 .regi_list ul {white-space: nowrap;overflow-x: scroll;overflow-y: hidden;-webkit-overflow-scrolling: touch;padding: 0 1rem;font-size: 0;text-align: center;}
.main_wrap .cols2 .regi_list ul::-webkit-scrollbar {display: none}
.main_wrap .cols2 .regi_list li {display: inline-block;float:none;width: 20rem;vertical-align: top;text-align: left;margin-right:1rem;margin-top:0;}
.main_wrap .cols2 .archive_w {padding-top:3rem;}

.main_wrap .cols3 {position: relative;z-index: 1;padding: 1.5rem 0;}
.main_wrap .cols3 .tit_w {padding:0 1rem;margin-bottom:1.5rem;display: -webkit-flex;display:flex;-webkit-align-items: center;align-items: center;}
.main_wrap .cols3 .tit_w > a {display:none;}
.main_wrap .cols3 .tit_w > p {font-size:1.05rem;margin-left:1rem;}
.main_wrap .cols3 h3 {color:#222;font-size:2rem;}
.main_wrap .cols3 h3 a {color:#222;}
.main_wrap .cols3 .regi_list_wrap .regi_in .tops {box-shadow:none;}
.main_wrap .cols3 .regi_list ul {white-space: nowrap;overflow-x: scroll;overflow-y: hidden;-webkit-overflow-scrolling: touch;padding: 0 1rem;font-size: 0;text-align: center;}
.main_wrap .cols3 .regi_list ul::-webkit-scrollbar {display: none}
.main_wrap .cols3 .regi_list li {display: inline-block;float:none;width: 20rem;vertical-align: top;text-align: left;margin-right:1rem;margin-top:0;}
.main_wrap .cols3 .regi_in .hover .link {position:absolute;display:block;font:0/0 a;top:0;left:0;width:100%;height:100%;}
.main_wrap .cols3 .regi_in .hover .date {font-size:1.1rem;position:absolute;bottom:0;left:0;width:100%;padding:1rem 1rem 0.8rem;box-sizing:border-box;color:#fff;text-align:center;line-height:1.3;background:url("../images/icon/pc_date_bg.png") repeat 0 0;letter-spacing:0;-webkit-transform: translateY(100%);transform: translateY(100%);-webkit-transition: all .4s ease;transition: all .4s ease;}
.main_wrap .cols3 .regi_in .hover.on .date {-webkit-transform: translateY(0%);transform: translateY(0%);}

.main_wrap .cols4 {position: relative;z-index: 1;padding: 1.5rem 0 3rem;}
.main_wrap .cols4 ul {padding:0 1rem;}
.main_wrap .cols4 .slick-prev {position:absolute;top:50%;left:2rem;width:1.2rem;height:1.2rem;margin-top:-0.6rem;font: 0/0 a;background: url("../images/icon/m_main_prev02.png") no-repeat left center;background-size: contain;}
.main_wrap .cols4 .slick-next {position:absolute;top:50%;right:2rem;width:1.2rem;height:1.2rem;margin-top:-0.6rem;font: 0/0 a;background: url("../images/icon/m_main_next02.png") no-repeat right center;background-size: contain;}

.main_wrap .cols_line {border-top: 1px dashed #ddd;margin: 1.5rem 1rem;}


.main_wrap .cols_notice {padding:1rem 1rem 1rem;background-color:#F5F5F5;}
.main_wrap .cols_notice ul {}
.main_wrap .cols_notice li {padding:0.3rem 0;}
.main_wrap .cols_notice li a {font-size: 0;display: block;}
.main_wrap .cols_notice li a:before {position:relative;bottom:0;margin-right:5px;display:inline-block;vertical-align:middle;content:"";width:1.5rem;height:1.5rem;background:url("../images/icon/m_main_notice.png") no-repeat 0 0;background-size: 100%;}
.main_wrap .cols_notice li p {overflow: hidden;padding: 0.3rem 0 0.1rem;white-space: nowrap;text-overflow: ellipsis;font-size: 13px;width: 92%;display: inline-block;vertical-align: middle;font-size: 1.1rem;}
.main_wrap .cols_notice li strong {margin-right:5px;}
.main_wrap .cols_notice li span {display: none;font-size: 1.1rem;}

.main_wrap .cols_appdown {text-align:center;background-color:#4C6DF7;padding:3rem 0;}
.main_wrap .cols_appdown .appdown_cont {display:inline-block;}
.main_wrap .cols_appdown .appdown_cont strong {display:block;font-size:2rem;color:#FDF168;font-weight:normal;}
.main_wrap .cols_appdown .appdown_cont p {font-size:0;margin-top:1rem;}
.main_wrap .cols_appdown .appdown_cont p span {display:inline-block;color:#Fff;font-size:1.1rem;vertical-align:middle;}
.main_wrap .cols_appdown .appdown_cont p img {display:inline-block;vertical-align:middle;width:7rem;margin:0 1rem;}
.main_wrap .cols_appdown .appdown_bt {text-align:center;font-size:0;margin-top:1.5rem;}
.main_wrap .cols_appdown .appdown_bt a {display:block;background:url("../images/icon/m_dw_app01.png") no-repeat 0 0;background-size: 100%;width:22rem;height:4.2rem;font: 0/0 a;margin:0 auto;}
.main_wrap .cols_appdown .appdown_bt a + a {background-image:url("../images/icon/m_dw_app02.png");margin-top:0.5rem;}


/*-------------테블릿-------------*/
@media screen and (min-width:768px){

}

/*-------------데스크탑-------------*/
@media screen and (min-width:1024px){

  .main_wrap:before {height:340px;}
  .main_wrap .inner {overflow:hidden;}

  /*메인리스트*/
  .main_list {overflow: visible;padding: 0;width:1240px;}
  .main_list li {display: block;width: 373px;margin-right:0;}
  .main_list li.slick-slide {width: 373px !important;}
  .main_list li + li {margin-left:41px;}
  .main_list .list_in .img_wrap .flag {top:20px;left:20px;}
  .main_list .list_in .img_wrap .flag .flag_item {width:50px;height:50px;border-radius: 5px;font-size: 12px;line-height: 1.1;}
  .main_list .list_in .img_wrap .flag .flag_item + .flag_item {margin-left:0.5rem;}
  .main_list .event_wrap .flag {margin-bottom: 13px;}
  .main_list .event_wrap .flag .flag_item {height:22px;font-size:12px;padding: 0 15px;line-height: 23px;border-radius: 20px;border:1px solid #222;}
  .main_list .event_wrap .flag .flag_item + .flag_item {margin-left:5px;}
  .main_list .flag .payment {font-size:16px;line-height:21px;}
  .main_list .flag .payment:before {bottom:2px;margin-right:5px;width:21px;height:21px;}
  .main_list .flag .payment.free:before {background-image: url("../images/icon/pc_main_cols1_ic02.png");}
  .main_list .flag .payment.pay:before {background-image: url("../images/icon/pc_main_cols1_ic01.png");}
  .main_list .event_wrap {margin-top: 30px;padding:0 8px;}
  .main_list .event_wrap > strong {font-size: 18px;padding: 1px 0;margin-bottom:13px;}
  .main_list .event_wrap > span {font-size: 14px;margin-bottom:10px;} 
  .main_list .event_wrap > span:before {bottom: 2px;margin-right: 10px;width: 14px;height: 16px;background: url("../images/icon/pc_main_cols1_ic03.png") no-repeat center center;background-size: 100%;}
  .main_list .event_wrap > em {font-size: 14px;} 
  .main_list .event_wrap > em:before {bottom: 2px;margin-right: 10px;width: 14px;height: 16px;background: url("../images/icon/pc_main_cols1_ic04.png") no-repeat center center;background-size: 12px;}
  .main_list .slick-prev {position:absolute;top:-90px;right:90px;width:40px;height:40px;font: 0/0 a;background: url("../images/icon/pc_main_prev.png") no-repeat center center;}
  .main_list .slick-next {position:absolute;top:-90px;right:40px;width:40px;height:40px;font: 0/0 a;background: url("../images/icon/pc_main_next.png") no-repeat center center;}
  .main_list li.more_bt {clear: both;width: 100% !important;display: block;float: none;margin: 0 !important;}
  .main_list li.more_bt .list_in a {width:80px;height:80px;margin: 0px auto;} 


  .main_wrap .cols0 {padding: 100px 0 50px;}
  .main_wrap .cols0 h3 {padding:0;font-size:40px;margin-bottom:50px;}


  .main_wrap .cols1 {padding: 50px 0;}
  .main_wrap .cols1 h3 {padding:0;font-size:40px;margin-bottom:50px;}
  .main_wrap .cols1 .main_list li {width: 270px;float:left;margin-bottom:50px;}
  .main_wrap .cols1 .main_list li + li {margin-left:41px;}
  .main_wrap .cols1 .main_list li:nth-child(5n){margin-left: 0px;}

  .main_wrap .cols2 {padding:100px 0;background-color:#F5F5F5;}
  .main_wrap .cols2 .inner {position: relative;overflow: hidden;}
  .main_wrap .cols2 h3 {padding:0;font-size:40px;margin-bottom:50px;}
  .main_wrap .cols2 .regi_list ul {padding: 0;}
  .main_wrap .cols2 .regi_list li {float:left;width: 270px;margin-right:0px;margin-top:0;margin-bottom:0;}
  .main_wrap .cols2 .regi_list li + li {margin-left:40px;}
  .main_wrap .cols2 .focus_w {float:left;}
  .main_wrap .cols2 .archive_w {float:right;padding-top:0;}

  .main_wrap .cols3 {padding: 100px 0;}
  .main_wrap .cols3 .inner {overflow: hidden;}
  .main_wrap .cols3 .tit_w {padding:0;margin-bottom:0;display:block;float: left;}
  .main_wrap .cols3 .tit_w > a {display:block;margin-top:25px;}
  .main_wrap .cols3 .tit_w > a span {display:inline-block;border-bottom:1px solid #222;font-size:16px;margin-right:5px;}
  .main_wrap .cols3 .tit_w > p {width:215px;font-size:28px;margin-left:0;line-height:1.2;margin-top:35px;}
  .main_wrap .cols3 h3 {font-size:40px}
  .main_wrap .cols3 .regi_list ul {padding: 0;float:right;}
  .main_wrap .cols3 .regi_list ul::-webkit-scrollbar {display: none}
  .main_wrap .cols3 .regi_list li {float:left;width: 270px;margin-right:0px;margin-top:0;margin-bottom:0;}
  .main_wrap .cols3 .regi_list li + li {margin-left:40px;}
  .main_wrap .cols3 .regi_in .hover .date {font-size:15px;padding:12px;}

  .main_wrap .cols4 {padding: 100px 0;}
  .main_wrap .cols4 ul {padding:0;}
  .main_wrap .cols4 .slick-prev {position:absolute;top:50%;left:40px;width:28px;height:28px;margin-top:-14px;background: url("../images/icon/pc_main_prev02.png") no-repeat left center;background-size: 16px;}
  .main_wrap .cols4 .slick-next {position:absolute;top:50%;right:40px;width:28px;height:28px;margin-top:-14px;background: url("../images/icon/pc_main_next02.png") no-repeat right center;background-size: 16px;}

  .main_wrap .cols_line {border-top: 0;margin: 0;padding:0;}
  .main_wrap .cols_line .inner {border-top: 1px dashed #ddd;}



  .main_wrap .cols_notice {}
  .main_wrap .cols_notice ul {}
  .main_wrap .cols_notice li {position: relative;padding:3px 0;}
  .main_wrap .cols_notice li a {display:block;}
  .main_wrap .cols_notice li a:before {width:20px;height:20px;margin-right:10px;background-image: url("../images/icon/pc_main_notice.png");}
  .main_wrap .cols_notice li p {font-size: 14px;width:940px;padding:1px 0;}
  .main_wrap .cols_notice li strong {font-size: 14px;margin-right: 30px;}
  .main_wrap .cols_notice li span {font-size: 14px;display:block;color:#8f8f8f;position: absolute;top:7px;right:0;}

  .main_wrap .cols_appdown {padding:90px 0;}
  .main_wrap .cols_appdown .appdown_cont {display:inline-block;}
  .main_wrap .cols_appdown .appdown_cont strong {font-size:40px;}
  .main_wrap .cols_appdown .appdown_cont p {font-size:0;margin-top:20px;}
  .main_wrap .cols_appdown .appdown_cont p span {display:inline-block;color:#Fff;font-size:24px;vertical-align:middle;}
  .main_wrap .cols_appdown .appdown_cont p img {display:inline-block;vertical-align:middle;width:auto;margin:0 10px;}
  .main_wrap .cols_appdown .appdown_bt {margin-top:40px;}
  .main_wrap .cols_appdown .appdown_bt a {display:inline-block;background-image:url("../images/icon/pc_dw_app01.png");width:260px;height:80px;margin:0 10px;}
  .main_wrap .cols_appdown .appdown_bt a + a {background-image:url("../images/icon/pc_dw_app02.png");margin-top:0;}

}
