@charset "utf-8";

.sub_wrap {padding: 0px 15px;}

.sub_wrap .sub_h2 {position: relative;margin-bottom: 2.3rem;}
.sub_wrap .sub_h2 > h2 {font-size:2.5rem;font-weight: bold;transition:.3s all ease;}
.sub_wrap .sub_h2 .sub_h2_list {margin-top:1rem;}
.sub_wrap .sub_h2 .sub_h2_list span {display:block;font-size:1.15rem;color:#888;}
.sub_wrap .sub_h2 .sub_h2_list li + li {margin-top:0.5rem;}
.sub_wrap .sub_h2 .sns_wrap {position: absolute;bottom: 0; right:0;z-index: 1;}
.sub_wrap .sub_h2 .sns_wrap .sns_wrap_bt {display: block;width: 3.5rem;height: 3.5rem;background: url("../images/icon/m_sub_share.png") no-repeat 0 0;background-size: 100%;font: 0/0 a;transition:.3s all ease;}
.sub_wrap .sub_h2 .sns_wrap .sns_list {display:none;position: absolute;top:4.5rem;left:-0.7rem;padding:1.5rem 1.2rem;border:1px solid #E8E8E8;background-color:#fff;border-radius:0.5rem;}
.sub_wrap .sub_h2 .sns_wrap .sns_list:before {display:block;content:'';position: absolute;top:-0.65rem;right:2rem;width: 1rem;height:1rem;background:url("../images/icon/m_sub_share_arr.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
.sub_wrap .sub_h2 .sns_wrap .sns_list li + li {margin-top:1rem;}
.sub_wrap .sub_h2 .sns_wrap .sns_list li a {display:block;width: 2.5rem;height: 2.5rem;background-repeat:no-repeat;background-position:0 0;background-size: 100%;font: 0/0 a;transition:.3s all ease;}
.sub_wrap .sub_h2 .sns_wrap .sns_list li .facebook {background-image:url("../images/icon/m_sub_share_bt01.png");}
.sub_wrap .sub_h2 .sns_wrap .sns_list li .twitter {background-image:url("../images/icon/m_sub_share_bt02.png");}
.sub_wrap .sub_h2 .sns_wrap .sns_list li .kakao {background-image:url("../images/icon/m_sub_share_bt03.png");}
.sub_wrap .sub_h2 .sns_wrap .sns_list li .naver {background-image:url("../images/icon/m_sub_share_bt04.png");}

.sub_wrap .btn_wrap {font-size: 0;text-align: center;margin-top: 1.7rem;}
.sub_wrap .btn_wrap  > a {display: inline-block;font-size: 1.1rem;height:3.3rem;line-height: 3.4rem;width: 60%;border-radius: 100px;transition:.3s all ease;}
.sub_wrap .btn_wrap  .blue {background-color: #4c6df7;color:#fff;}


/*이벤트 리스트 및 디테일*/
.sub_wrap .event_wrap {margin: 1.7rem 0 6rem;}
.sub_wrap .event_wrap .event_detail {padding:2.3rem 0 0px;border-top: 1px solid #E8E8E8;}
.sub_wrap .event_wrap .event_detail .event_prev {display: none;}
.sub_wrap .event_wrap .event_detail img {width:100%;}
.sub_wrap .event_wrap .event_detail .event_in {position:relative;}
.sub_wrap .event_wrap .event_detail .event_in .event_end {display:none;}
.sub_wrap .event_wrap .event_detail .event_in.end .event_end {display: block;}
.sub_wrap .event_wrap .event_detail .event_in .end_flag {position: absolute;top:0;left:0;height:100%;width:100%;display:-webkit-flex;display:flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;background:url("../images/icon/m_sub_event_end.png") no-repeat center center;background-size:18rem;z-index: 1;}
.sub_wrap .event_wrap .event_detail .event_in .end_flag > div {text-align:center;} 
.sub_wrap .event_wrap .event_detail .event_in .end_flag > div strong {display:block;font-size:3.3rem;color:#FDF168;} 
.sub_wrap .event_wrap .event_detail .event_in .end_flag > div p {font-size:1.1rem;color:#fff;margin-top:1rem;} 
.sub_wrap .event_wrap .event_detail .event_in.end:after {display:block;content:'';position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: #000;font: 0/0 a;opacity: 0.3;}
.sub_wrap .event_wrap .event_detail .btn_wrap {margin-top: 2.5rem;}
.sub_wrap .event_wrap .event_detail .btn_wrap  > a {height:8rem;line-height: 8rem;width: 8rem;border-radius: 100%;}

.sub_wrap .event_wrap .tab_nav {margin-bottom:1.7rem;text-align:center;}
.sub_wrap .event_wrap .tab_nav li {position:relative;float: left;width:50%;}
.sub_wrap .event_wrap .tab_nav li:before {position: absolute;content:'';bottom:0;left:0;height:0.27rem;width:0;background-color: #4c6df7;border-radius:100px;transition:.3s all ease;}
.sub_wrap .event_wrap .tab_nav li.on:before {width:100%;}
.sub_wrap .event_wrap .tab_nav li a {display:block;height: 4rem;line-height: 4.1rem;font-size:1.4rem;color:#888;}
.sub_wrap .event_wrap .tab_nav li.on a {color:#4C6DF7;}

.sub_wrap .event_wrap .event_list li {margin-bottom:1.8rem;}
.sub_wrap .event_wrap .event_list li a {display: block;}
.sub_wrap .event_wrap .event_list li img{width: 100%;}
.sub_wrap .event_wrap .event_list .sum {position:relative;box-shadow:1px 10px 25px -5px grey;border-radius: 40px;}
.sub_wrap .event_wrap .event_list .sum .new {position: absolute;bottom:-2rem;right:3rem;width: 4rem;height:4rem;background:url("../images/icon/m_sub_event_new.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
.sub_wrap .event_wrap .event_list .info {margin-top:1.8rem;}
.sub_wrap .event_wrap .event_list .info > span {display:block;color:#888;font-size:1.1rem;}
.sub_wrap .event_wrap .event_list .info > p {display:-webkit-box;overflow:hidden;text-overflow:ellipsis;white-space:normal;-webkit-line-clamp: 2;-webkit-box-orient:vertical;
font-size:1.3rem;line-height:1.4;margin:0.7rem 0 1rem;word-break:break-all;}
.sub_wrap .event_wrap .event_list .info > em {display:block;color:#4C6DF7;font-size:1.1rem;}
.sub_wrap .event_wrap .event_list li.none {margin-top:7rem;text-align:center;float:none;width:100%;}
.sub_wrap .event_wrap .event_list li.none .list_in {display:inline-block;}
.sub_wrap .event_wrap .event_list li.none .list_in:before {display:inline-block;content:'';width:8rem;height:8rem;background:url("../images/icon/m_sub_event_none.png") no-repeat 0 0;background-size:100%;font: 0/0 a;}
.sub_wrap .event_wrap .event_list li.none p {color:#888;font-size:1.2rem;margin-top:2rem;}
.sub_wrap .event_wrap .event_list .more_bt {width:100%;margin:0;}
.sub_wrap .event_wrap .event_list .more_bt .list_in a {display: block;width: 5rem;height: 5rem;background: url("../images/icon/m_sub_more_bt.png") no-repeat 0 0;background-size: 100%;font: 0/0 a;margin:2rem auto 0;}

/*회원가입 및 로그인*/
.sub_wrap .signup_wrap {margin: 1.7rem 0 6rem;}
.sub_wrap .signup_wrap h2 {text-align:center;}
.signup_wrap .signup_top {margin-bottom: 3.5rem;}
.signup_wrap .signup_top p {text-align:center;font-size: 1.15rem;color:#4c6df7;} 

.signup_wrap .signup_tit {position:relative;margin-bottom:2rem;}
.signup_wrap .signup_tit h3 {font-size:1.7rem;}
.signup_wrap .signup_tit span {color: #FF6280;font-size:0.9rem;position:absolute;top:0.3rem;right:0;}
.signup_wrap .signup_tit ~ .signup_tit {margin-top:3rem;}

.signup_list {}
.signup_list li {}
.signup_list li + li {margin-top:2rem;}
.signup_list li label {display:block;color:#888;font-size:1.05rem;}
.signup_list li label em {color:#FF6280;}
.signup_list li input {width:100%;border:0;border-bottom:1px solid #E8E8E8;height:3rem;font-size:1.2rem;line-height:3.1rem;transition:.3s all ease;}
.signup_list li input:focus {border-bottom:2px solid #4C6DF7;}
.signup_list li input:read-only,
.signup_list li input:disabled {border-bottom:1px solid #E8E8E8 !important;background-color: #fff;}
.signup_list li span {margin-top:0.5rem;display: none;}
.signup_list li .help_message {color:#4C6DF7;font-size:1rem;}
.signup_list li input:focus ~ .help_message {display: block;}
.signup_list li.error input:focus ~ .help_message {display: none;}
.signup_list li input:read-only ~ .help_message {display: none;}
.signup_list li.error .error_message {display: block;}
.signup_list li.error input,
.signup_list li.error input:focus{border-bottom:2px solid #FF6280;}
.signup_list li .error_message {color:#FF6280;font-size:1rem;}

.signup_list li.button {position: relative;}
.signup_list li.button input {padding-right: 8.5rem;box-sizing: border-box;}
.signup_list li.button .button_wrap {position: absolute;top:0.9rem;right:0;}
.signup_list li.button button {border: 1px solid #E8E8E8;width:8rem;height: 2.6rem;font-size: 1.05rem;line-height: 2.7rem;background-color:#fff;border-radius:5px;letter-spacing:-1px;}
.signup_list li.button .button_wrap input[type=file] {position: absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.signup_list li.button .time {position: absolute;top:0.9rem;right:9rem;font-size: 1.05rem;line-height: 2.7rem;letter-spacing:-1px;color: #FF6280;}
.signup_list li.button.chk label {margin-bottom:2rem;}
.signup_list li.button.chk .input_c {position:absolute;top:0;right:0;}
.signup_list li.button.chk .button_wrap {top: 2.9rem;}
.signup_list li.merge {margin-top:0;}
.signup_list li.merge label {display:none;}

.signup_wrap .signup_btn {display: inline-block;font-size: 1.15rem;height:3.3rem;line-height: 3.4rem;width: 100%;background-color: #4c6df7;color:#fff;text-align:center;border-radius:5px;box-sizing:border-box;}
.signup_wrap .signup_guide {color:#888;font-size:1.05rem;text-align:center;margin-top:2rem;}
.signup_wrap .signup_guide a {display:inline-block;border-bottom:1px solid #222;margin-left:0.7rem;}
.signup_wrap .signup_btns {margin-top:3rem;}
.signup_wrap .signup_btns ~ .signup_btns {margin-top:3.5rem;}
.signup_wrap .signup_btns .signup_btn {margin-top:0;position: relative;}
.signup_wrap .signup_btns .signup_btn:before {display:block;content:"";width:2rem;height:2rem;position:absolute;top:0.6rem;left:2.5rem;background-position:0 0;background-repeat:no-repeat;background-size:100%;}
.signup_wrap .signup_btns li + li {margin-top:1rem;}
.signup_wrap .signup_btns .signup_btn.border {background-color:#fff;border:1px solid #4c6df7;color:#4c6df7;}
.signup_wrap .signup_btns .signup_btn.facebook {background-color:#445D99;}
.signup_wrap .signup_btns .signup_btn.twitter {background-color:#1CA1F1;}
.signup_wrap .signup_btns .signup_btn.kakao {background-color:#FFE600;}
.signup_wrap .signup_btns .signup_btn.naver {background-color:#06CF5D;}
.signup_wrap .signup_btns .signup_btn.facebook:before {background-image:url("../images/icon/m_signup_btn01.png");}
.signup_wrap .signup_btns .signup_btn.twitter:before {background-image:url("../images/icon/m_signup_btn02.png");}
.signup_wrap .signup_btns .signup_btn.kakao:before {background-image:url("../images/icon/m_signup_btn03.png");}
.signup_wrap .signup_btns .signup_btn.naver:before {background-image:url("../images/icon/m_signup_btn04.png");}
.signup_wrap .signup_btns.type02 {overflow:hidden;}
.signup_wrap .signup_btns.type02 li {float:left;width:50%;margin-top:0;padding-right:0.5rem;box-sizing:border-box;}
.signup_wrap .signup_btns.type02 li + li {padding-right:0;padding-left:0.5rem;}

.signup_wrap .agree_wrap {margin-top: 3rem;}
.signup_wrap .agree_wrap li {}
.signup_wrap .agree_wrap li + li {margin-top:1rem;}
.signup_wrap .agree_wrap li a {color:#888;float:right;text-decoration:underline;font-size:1.05rem;line-height: 1.9rem;}
.signup_wrap .agree_wrap > p {color:#888;margin-top:1rem;font-size:1.05rem;line-height:1.4;}

.pop_layer.signup .pop_cont strong {width:100%;margin-top:1.5rem;text-align:center;}
.pop_layer.signup .pop_cont .box {border:1px solid #E8E8E8;text-align:center;padding:1.2rem 0 1rem;margin-top:1.5rem;}
.pop_layer.signup .pop_cont .box span {font-size: 1.2rem;font-weight:bold;}
.pop_layer.signup .banner img {width: 100%;}

.pop_layer.business_num .pop_cont strong {width:100%;margin-top:1.5rem;text-align:center;color:#222;}
.pop_layer.business_num .pop_cont .box {border:1px solid #E8E8E8;text-align:center;padding:1.2rem 0 1rem;margin-top:1.5rem;}
.pop_layer.business_num .pop_cont .box span {font-size: 1.2rem;font-weight:bold;}

/*개인정보 처리방침*/
.sub_wrap .privacy_wrap {font-size:1.1rem;line-height:1.8;}
.sub_wrap .privacy_wrap h4 {font-size:1.7rem;margin-bottom: -0.5rem;}
.sub_wrap .privacy_wrap p {}

.sub_wrap .privacy_wrap .link_area {margin-top:2.3rem;padding:1.5rem 2.3rem;border:1px solid #e8e8e8;border-radius:5px;overflow:hidden;}
.sub_wrap .privacy_wrap .link_area > li {}
.sub_wrap .privacy_wrap .link_area > li + li {margin-top:0.5rem;}
.sub_wrap .privacy_wrap .link_area > li ul {}
.sub_wrap .privacy_wrap .link_area > li ul li {}
.sub_wrap .privacy_wrap .link_area > li ul li + li {margin-top:0.5rem;}
.sub_wrap .privacy_wrap .link_area > li ul li a {}
.sub_wrap .privacy_wrap .link_area > li ul li a:hover {color:#4c6df7;}

.sub_wrap .privacy_wrap .depth_wrap {margin-top:2.3rem;}
.sub_wrap .privacy_wrap .depth_wrap p {margin-top:1rem;}
.sub_wrap .privacy_wrap .depth_list {}
.sub_wrap .privacy_wrap .depth_list li {margin-top:1rem;padding-left: 1rem;text-indent: -0.8rem;}
.sub_wrap .privacy_wrap .depth_list li:before {display: inline-block;content: "";width: 2px;height: 2px;margin-right: 0.5rem;vertical-align: middle;background-color: #888;}
.sub_wrap .privacy_wrap .depth_wrap table {width:100%;margin-top:2rem;border-top:1px solid #222;} 
.sub_wrap .privacy_wrap .depth_wrap th {border-bottom:1px solid #e8e8e8;padding:1.2rem 0.25rem 1rem;text-align:center;line-height:1.4;} 
.sub_wrap .privacy_wrap .depth_wrap td {border-bottom:1px solid #e8e8e8;padding:1.2rem 0.25rem 1rem;text-align:center;line-height:1.4;} 


/*테블릿*/
@media screen and (min-width:768px){
  
  .sub_wrap .btn_wrap  > a {}

  /*이벤트 리스트 및 디테일*/
  .sub_wrap .event_wrap .event_list li {float: left;width: 50%;}
  .sub_wrap .event_wrap .event_list li:nth-child(odd) a {margin-right:7.5px;}
  .sub_wrap .event_wrap .event_list li:nth-child(even) a {margin-left:7.5px;}

  /*회원가입 및 로그인*/
  .sub_wrap .signup_wrap .signup_cont {width: 500px;padding:40px 50px;margin:0 auto;border:1px solid #E8E8E8;box-sizing:border-box;border-radius: 15px;}

}

/*데스크탑*/
@media screen and (min-width:1024px){

  .sub_wrap {padding: 0px;}

  .sub_wrap .sub_h2 {margin-bottom: 60px;}
  .sub_wrap .sub_h2 > h2 {font-size: 50px;}
  .sub_wrap .sub_h2 .sub_h2_list {margin-top:15px;}
  .sub_wrap .sub_h2 .sub_h2_list ul {font-size:0;}
  .sub_wrap .sub_h2 .sub_h2_list li {display: inline-block;}
  .sub_wrap .sub_h2 .sub_h2_list li + li {margin:0;}
  .sub_wrap .sub_h2 .sub_h2_list li + li:before {position:relative;bottom:0px;margin:0 10px;display:inline-block;vertical-align:middle;content:"";width:2px;height:10px;background-color:#E8E8E8;}
  .sub_wrap .sub_h2 .sub_h2_list span {display: inline-block;vertical-align: middle;font-size: 18px;}
  
  .sub_wrap .sub_h2 .sns_wrap .sns_wrap_bt {width: 80px;height: 80px;background-image:url("../images/icon/pc_sub_share.png");}
  .sub_wrap .sub_h2 .sns_wrap .sns_list {padding:25px 20px;border-radius:5px;top:100px;left:-5px;}
  .sub_wrap .sub_h2 .sns_wrap .sns_list:before {width:17px;height:12px;top:-11px;right:36px;background-image:url("../images/icon/pc_sub_share_arr.png");}
  .sub_wrap .sub_h2 .sns_wrap .sns_list li + li {margin-top:20px;}
  .sub_wrap .sub_h2 .sns_wrap .sns_list li a {width:48px;height:48px;}
  .sub_wrap .sub_h2 .sns_wrap .sns_list li .facebook {background-image:url("../images/icon/pc_sub_share_bt01.png");}
  .sub_wrap .sub_h2 .sns_wrap .sns_list li .twitter {background-image:url("../images/icon/pc_sub_share_bt02.png");}
  .sub_wrap .sub_h2 .sns_wrap .sns_list li .kakao {background-image:url("../images/icon/pc_sub_share_bt03.png");}
  .sub_wrap .sub_h2 .sns_wrap .sns_list li .naver {background-image:url("../images/icon/pc_sub_share_bt04.png");}

  .sub_wrap .btn_wrap {margin-top: 100px;}
  .sub_wrap .btn_wrap  > a {height:70px;line-height: 72px;width: 350px;font-size: 20px;}

  /*이벤트 리스트 및 디테일*/
  .sub_wrap .event_wrap {margin: 110px 0 200px;}
  .sub_wrap .event_wrap .event_detail {padding:60px 0 0px;}
  .sub_wrap .event_wrap .event_detail .event_cont {position: relative;padding-bottom:100px;}
  .sub_wrap .event_wrap .event_detail .event_prev {display: block;position:absolute;bottom:0;left:0;}
  .sub_wrap .event_wrap .event_detail .event_prev a {font-size: 20px;}
  .sub_wrap .event_wrap .event_detail .event_prev a:before {position:relative;bottom:2px;margin-right:10px;display:inline-block;vertical-align:middle;content:"";width:25px;height:8px;background:url("../images/icon/pc_sub_pass_btn.png") no-repeat 0 0;background-size: 100%;}
  .sub_wrap .event_wrap .event_detail img {width:auto;}
  .sub_wrap .event_wrap .event_detail .btn_wrap {margin-top: 0px;}
  .sub_wrap .event_wrap .event_detail .btn_wrap  > a {height:180px;line-height: 182px;width: 180px;font-size: 20px;}
  .sub_wrap .event_wrap .event_detail .event_in .end_flag {background-image:url("../images/icon/pc_sub_event_end.png");background-size:600px;}
  .sub_wrap .event_wrap .event_detail .event_in .end_flag > div strong {font-size:100px;} 
  .sub_wrap .event_wrap .event_detail .event_in .end_flag > div p {font-size:18px;margin-top:30px;} 

  .sub_wrap .event_wrap .tab_nav {margin-bottom:0;position: absolute;top:0;right:0;text-align:center;}
  .sub_wrap .event_wrap .tab_nav li {position:relative;float: none;width:auto;display:inline-block;margin-left:20px;}
  .sub_wrap .event_wrap .tab_nav li:before {height: 4px;}
  .sub_wrap .event_wrap .tab_nav li a {display:block;height: 36px;line-height: 36px;font-size:18px;color:#888;}

  .sub_wrap .event_wrap .event_list .sum .new {bottom:-30px;right:40px;width:60px;height:60px;background-image:url("../images/icon/pc_sub_event_new.png");}
  .sub_wrap .event_wrap .event_list .info {margin-top:30px;}
  .sub_wrap .event_wrap .event_list .info > span {font-size:14px;}
  .sub_wrap .event_wrap .event_list .info > p {font-size:18px;margin:10px 0 20px;}
  .sub_wrap .event_wrap .event_list .info > em {font-size:14px;}
  .sub_wrap .event_wrap .event_list .type01 li {float: left;width: 360px;margin:0 60px 100px 0;}
  .sub_wrap .event_wrap .event_list .type02 li {float: left;width: 570px;margin:0 60px 100px 0;}
  .sub_wrap .event_wrap .event_list li:nth-child(odd) a {margin-right:0px;}
  .sub_wrap .event_wrap .event_list li:nth-child(even) a {margin-left:0px;}
  .sub_wrap .event_wrap .event_list .type01 li:nth-child(3n) {margin-right:0;}
  .sub_wrap .event_wrap .event_list .type02 li:nth-child(2n) {margin-right:0;}
  .sub_wrap .event_wrap .event_list .type01 .more_bt,
  .sub_wrap .event_wrap .event_list .type02 .more_bt {width:100%;margin:0;}
  .sub_wrap .event_wrap .event_list li.none {margin-top:100px;float:none;width:100%;}
  .sub_wrap .event_wrap .event_list li.none .list_in:before {width:120px;height:120px;background-image:url("../images/icon/pc_sub_event_none.png");}
  .sub_wrap .event_wrap .event_list li.none p {font-size:18px;margin-top:40px;}
  .sub_wrap .event_wrap .event_list .more_bt .list_in a {width: 80px;height: 80px;margin: 0px auto;background-image:url("../images/icon/pc_sub_more_bt.png");}

  /*회원가입 및 로그인*/
  .sub_wrap .signup_wrap {margin: 110px 0 200px;}
  .sub_wrap .signup_wrap .signup_cont {width: 700px;padding:80px 100px;margin:0 auto;border:1px solid #E8E8E8;box-sizing:border-box;border-radius: 15px;}
  .signup_wrap .signup_top {margin-bottom: 60px;}
  .signup_wrap .signup_top p {font-size:18px;} 

  .signup_wrap .signup_tit {margin-bottom:40px;}
  .signup_wrap .signup_tit h3 {font-size:30px;}
  .signup_wrap .signup_tit span {font-size:12px;top:10px;right:0;}
  .signup_wrap .signup_tit ~ .signup_tit {margin-top:80px;}

  .signup_list {}
  .signup_list li + li {margin-top:40px;}
  .signup_list li label {font-size:15px;}
  .signup_list li input {height: 65px;font-size: 18px;border-bottom:2px solid #E8E8E8;}
  .signup_list li input:focus {border-bottom:3px solid #4C6DF7;}
  .signup_list li input:read-only,
  .signup_list li input:disabled {border-bottom:2px solid #E8E8E8 !important;}
  .signup_list li span {margin-top:10px;font-size:15px;}
  .signup_list li.error input,
  .signup_list li.error input:focus{border-bottom:3px solid #FF6280;}

  .signup_list li.button input {padding-right: 130px;}
  .signup_list li.button .button_wrap {top:28px;right:0;}
  .signup_list li.button button {width:120px;height: 40px;font-size: 14px;line-height: 40px;}
  .signup_list li.button.chk label {margin-bottom:20px;}
  .signup_list li.button.chk .button_wrap {top: 47px;}
  .signup_list li.button .time {top:28px;right:150px;font-size: 14px;line-height: 40px;}


  .signup_wrap .signup_btn {height:70px;line-height: 70px;font-size: 18px;margin-top: 60px;}
  .signup_wrap .signup_guide {font-size:15px;margin-top:40px;}
  .signup_wrap .signup_guide a {margin-left:10px;}
  .signup_wrap .signup_btns {margin-top:60px;}
  .signup_wrap .signup_btns ~ .signup_btns {margin-top:80px;}
  .signup_wrap .signup_btns .signup_btn {margin-top:0px;}
  .signup_wrap .signup_btns .signup_btn:before {width:31px;height:31px;top:19px;left:40px;}
  .signup_wrap .signup_btns li + li {margin-top:20px;}
  .signup_wrap .signup_btns .signup_btn.facebook:before {background-image:url("../images/icon/pc_signup_btn01.png");}
  .signup_wrap .signup_btns .signup_btn.twitter:before {background-image:url("../images/icon/pc_signup_btn02.png");}
  .signup_wrap .signup_btns .signup_btn.kakao:before {background-image:url("../images/icon/pc_signup_btn03.png");}
  .signup_wrap .signup_btns .signup_btn.naver:before {background-image:url("../images/icon/pc_signup_btn04.png");}

  .signup_wrap .signup_btns.type02 li {margin-top:0;padding-right:10px;}
  .signup_wrap .signup_btns.type02 li + li {padding-right:0;padding-left:10px;}

  .signup_wrap .agree_wrap {margin-top: 60px;}
  .signup_wrap .agree_wrap li {}
  .signup_wrap .agree_wrap li + li {margin-top:20px;}
  .signup_wrap .agree_wrap li a {font-size:14px;line-height:25px;}
  .signup_wrap .agree_wrap > p {margin-top:20px;font-size:14px;}


  .pop_layer.signup {max-width:730px;}
  .pop_layer.signup .pop_cont {padding: 80px 100px;}
  .pop_layer.signup .pop_cont strong {margin-top:0;}
  .pop_layer.signup .pop_cont p {font-size:14px;}
  .pop_layer.signup .pop_cont p a {font-size:14px;}
  .pop_layer.signup .pop_cont .box {margin-top:40px;padding:25px 0 25px;}
  .pop_layer.signup .pop_cont .box span {font-size:18px;}
  .pop_layer.signup .banner img {width: auto;}

  /*개인정보 처리방침*/
  .sub_wrap .privacy_wrap {font-size:14px;}
  .sub_wrap .privacy_wrap h4 {font-size:30px;margin-bottom: -15px;}
  .sub_wrap .privacy_wrap p {}

  .sub_wrap .privacy_wrap .link_area {margin-top:60px;padding:40px 60px;}
  .sub_wrap .privacy_wrap .link_area > li {float:left;width:50%;}
  .sub_wrap .privacy_wrap .link_area > li + li {margin-top:0;}
  .sub_wrap .privacy_wrap .link_area > li ul {}
  .sub_wrap .privacy_wrap .link_area > li ul li {}
  .sub_wrap .privacy_wrap .link_area > li ul li + li {margin-top:10px;}
  .sub_wrap .privacy_wrap .link_area > li ul li a {}
  .sub_wrap .privacy_wrap .link_area > li ul li a:hover {}

  .sub_wrap .privacy_wrap .depth_wrap {margin-top:60px;}
  .sub_wrap .privacy_wrap .depth_wrap p {margin-top:30px;}
  .sub_wrap .privacy_wrap .depth_list {}
  .sub_wrap .privacy_wrap .depth_list li {margin-top:30px;padding-left: 15px;text-indent: -14px;}
  .sub_wrap .privacy_wrap .depth_list li:before {margin-right:10px;}
  .sub_wrap .privacy_wrap .depth_wrap table {margin-top:60px;} 
  .sub_wrap .privacy_wrap .depth_wrap th {padding:20px 0;} 
  .sub_wrap .privacy_wrap .depth_wrap td {padding:20px 0;} 
  

}
