
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>coex </title>
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/layout.css">

	<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>

</head>
<body>

<div id="wrap">
	<!--해더-->
	<header id="header">

		<div class="inner">
			<div class="logo_wrap"></div>
			<div class="gnb_wrap">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>

	</header>
	<!--//해더-->

	<!--패널부분
	<div class="panelDim"></div>
	<div class="panelW">
		<div class="panelW_in">
			<div class="panel_tit">
				<div class="logo">
					<a href="">
						<img src="images/layout/panel_logo.png" alt="logo">
					</a>
				</div>
				<div class="close">
					<img src="images/layout/btn_close.png" alt="close">
				</div>
			</div>
			<div class="panel_cnt">

				<div>
					<ul>
						<li>
							<a href="">회원가입</a>
						</li>
						<li>
							<a href="">아이디 만들기</a>
						</li>
						<li>
							<a href="">회원정보수정</a>
						</li>
						<li>
							<a href="">신문주소변경</a>
						</li>
						<li>
							<a href="">아이디 찾기</a>
						</li>
						<li>
							<a href="">비밀번호 찾기</a>
						</li>
						<li>
							<a href="">회원탈퇴</a>
						</li>
					</ul>
					<div class="pcBt">
						<a href="">PC 버전</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	//패널부분-->

	<!--컨텐츠-->
	<div id="container">
		<div class="inner">
			<h2>로그인</h2>
			<div class="contentW">컨텐츠</div>
		</div>
	</div>
	<!--//컨텐츠--->


	<!--후터-->
	<footer id="footer" class="footer">

		<div class="inner">

			<div class="logo_wrap">
				<p>스마트한 전시회 사전등록</p>
			</div>

			<div class="sns_wrap">
				<ul class="clear_both">
					<li class="twitter">
						<a href="#">트위터</a>
					</li>
					<li class="instagram">
						<a href="#">인스타그램</a>
					</li>
					<li class="facebook">
						<a href="#">페이스북</a>
					</li>
					<li class="blog">
						<a href="#">블로그</a>
					</li>
				</ul>
			</div>

			<div class="family_wrap">
				<div class="family_btn" data-target=".family_target">Family Site</div>
				<ul class="clear_both family_target">
					<li>
						<a href="#">Family Site</a>
					</li>
					<li>
						<a href="#">Family Site</a>
					</li>
					<li>
						<a href="#">Family Site</a>
					</li>
					<li>
						<a href="#">Family Site</a>
					</li>
				</ul>
			</div>

			<div class="link_wrap">
				<ul class="clear_both">
					<li>
						<a href="#">개인정보처리방침</a>
					</li>
					<li>
						<a href="#">이메일무단수집거부</a>
					</li>
					<li>
						<a href="#">취소및환불정책</a>
					</li>
				</ul>
			</div>

			<div class="copyright_wrap">
				<ul class="clear_both">
					<li>서울특별시 강남구 영동대로 513 (삼성동, 코엑스) 06164</li>
					<li>문의전화 : 02-6000-0114</li>
					<li>COPYRIGHT 2015-2019 © COEX</li>
					<li>ALL RIGHTS RESERVED.</li>
				</ul>
			</div>

		</div>

		<div class="btnTop">
			<a href="">
				<img src="" alt="탑으로">
			</a>
		</div>

	</footer>
	<!--//후터-->
</div>

</body>
</html>
