
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>coex </title>
	<link rel="stylesheet" href="../../css/reset.css">

	<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>

</head>
<body>

<div id="wrap">
	<!--해더-->
	<div id="header">

		<div class="headerWrap">
			<h1><img src="images/layout/member_logo.jpg" alt="교총"/></h1>
			<div class="panelBt">
				<a href="#">
					<img src="images/layout/member_panel.jpg" alt="교총패널"/>
				</a>
			</div>
			<div class="panelBt02">
				<a href="#">
					<img src="images/layout/member_join.jpg" alt="교총맴버스"/>
				</a>
			</div>

		</div>
		<div class="headerCard"></div>


	</div>
	<!--//해더-->

	<!--패널부분->
	<div class="panelDim"></div>
	<div class="panelW">
		<div class="panelW_in">
			<div class="panel_tit">
				<div class="logo">
					<a href="">
						<img src="images/layout/panel_logo.png" alt="logo">
					</a>
				</div>
				<div class="close">
					<img src="images/layout/btn_close.png" alt="close">
				</div>
			</div>
			<div class="panel_cnt">

				<div>
					<ul>
						<li>
							<a href="">회원가입</a>
						</li>
						<li>
							<a href="">아이디 만들기</a>
						</li>
						<li>
							<a href="">회원정보수정</a>
						</li>
						<li>
							<a href="">신문주소변경</a>
						</li>
						<li>
							<a href="">아이디 찾기</a>
						</li>
						<li>
							<a href="">비밀번호 찾기</a>
						</li>
						<li>
							<a href="">회원탈퇴</a>
						</li>
					</ul>
					<div class="pcBt">
						<a href="">PC 버전</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--//패널부분-->

	<!--컨텐츠-->
	<div id="container">
		<div class="inner">
			<h2>로그인</h2>
			<div class="contentW">컨텐츠</div>
		</div>
	</div>
	<!--//컨텐츠--->


	<!--후터-->
	<div id="footer">
		<div class="inner">

			<div class="footerTop">
				<ul class="after">
					<li>
						<a href="#">
							<img src="images/layout/btn_footer_sns01.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/layout/btn_footer_sns02.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/layout/btn_footer_sns03.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/layout/btn_footer_sns04.png" alt="">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/layout/btn_footer_sns05.png" alt="">
						</a>
					</li>
				</ul>
				<a href="">PC 버젼</a>
			</div>

			<div class="footinnermenu">
				<ul class="after">
					<li>
						<a href="#">홈페이지운영규칙</a>
					</li>
					<li class="point">
						<a href="#">개인정보처리방침</a>
					</li>
				</ul>
				<ul class="after">
					<li>
						<a href="#">이메일주소무단수집거부</a>
					</li>
					<li>
						<a href="#">찾아오시는길</a>
					</li>
				</ul>

			</div>

			<div class="footinnerdesc">
				<ul>
					<li>(06764) 서울특별시 서초구 태봉로 114 (우면동 142)</li>
					<li class="after"><span>TEL 02-570-5500</span><span>FAX 02-577-7468</span></li>
					<li>E-MAIL kfta16@kfta.or.kr</li>
				</ul>

				<p>COPYRIGHT © 2017 KFTA ALL RIGHT RESERVED.</p>
			</div>



		</div>

		<div class="btnHome">
			<a href="">
				<img src="images/layout/btn_home.png" alt="홈으로">
			</a>
		</div>

		<div class="btnTop">
			<a href="">
				<img src="images/layout/btn_top.png" alt="탑으로">
			</a>
		</div>


	</div>
	<!--//후터-->
<div>

</body>
</html>
